{% extends "index.html" %}
{% block section %}
<section role="home" id="top">

    <header class="main full">
        <div class="row">
        <div class="push_two thirty-six columns">

        <nav class="language four columns">
            <ul>
                {% if nl %}
                {{ nl.report }}
                <li><a href="/en/2012/">EN</a></li>
                <li class="active"><a href="/nl/2012/">NL</a></li>
                {% else %}
                <li class="active"><a href="/en/2012/">EN</a></li>
                <li><a href="/nl/2012/">NL</a></li>
                {% endif %}
            </ul>
        </nav>

        </div>
        </div>
    </header>

    {% if report %}
    <section role="start" id="start">
    <div class="fixed row">
        
        <div class="push_two thirty-six columns">
        {% for report in report %}
        <aside class="ten columns alpha">
            <h1>
                <a class="logo eight columns">
                    <img src="{{ STATIC_URL }}img/logo-iminds.png" />
                </a>
            </h1> 

            <figure class="iminds-ceo">
                <img src="{{ STATIC_URL }}img/ceo-iminds.png">
                <figcaption>Wim De Waele, CEO iMinds</figcaption>
            </figure>
        </aside>

        {% include "base/slider.html" %}

        <aside class="text twenty-four columns omega">
            <h3 class="alpha">Annual Report <strong>{{ report.year }}</strong></h3>

            <p>{{ report.description|safe|truncatechars:"1410" }}</p>

            <button class="download tt-wrapper twelve columns omega">
                <div>
                    <a href="{{ report.pdf.url }}" target="_blank">download printable version ({{ report.pdf.size|filesizeformat }})
                        <span><img src="{{ MEDIA_URL }}{{ report.pdf_image}}" /></span>
                    </a>
                </div>
            </button> 

        </aside>
        {% endfor %}

        </div>
    </div>

    <a href="#january" class="button-down two columns">
        <div class="old">
            <span>scrrol down</span><br>
            {% include "svg/arrow_down-old.svg" %}
        </div>

        <div class="new">
            <span>scrrol down</span><br>
            {% include "svg/arrow_down-new.svg" %}
        </div>
    </a>

</section>
<footer>
        <div class="row">
        <div class="push_two thirty-six columns alpha">

            <div class="seven columns">
                <div class="two columns">© iMinds |</div> <a href="mailto:info@iminds.be">info@iminds.be</a>
            </div>

            <div class="twenty-eight columns omega">Zuiderpoort Office Park Gaston Crommenlaan 8 (box 102) B-9050 Ghent-Ledeberg Belgium - <a href="http://www.iminds.be/userfiles/files/Route%20description%20EN.pdf" target="_blank">Route Description</a> | T +32 9 331 48 00 F +32 9 331 48 05</div>
        </div>
    </footer>
</section>

{% include "sections/january.html" %}
{% include "sections/february.html" %}
{% include "sections/march.html" %}
{% include "sections/april.html" %}
{% include "sections/may.html" %}
{% include "sections/june.html" %}
{% include "sections/july.html" %}
{% include "sections/august.html" %}
{% include "sections/september.html" %}
{% include "sections/october.html" %}
{% include "sections/november.html" %}
{% include "sections/december.html" %}

{% endif %}
{% endblock %}