<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en" itemscope itemtype="http://schema.org/Product"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>iMinds - Annual Report</title>
    
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="" />
    <meta name="author" content="humans.txt">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/x-icon" />
    <!-- iPad com Retina Display -->
    <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}img/favicon.png">
    <!-- iPhone com Retina Display -->
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/favicon.png">
    <!-- Primeira e segunda geração de iPad -->
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/favicon.png">
    <!-- Versões antigas de iPhone, iPod Touch e Android 2.2+  -->
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/favicon.png">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--Facebook Metadata /-->
    <meta property="fb:page_id" content="{{ social.facebook }}" />
    <meta property="og:image" content="" />
    <meta property="og:description" content=""/>
    <meta property="og:title" content=""/>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!--<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />-->
    <link rel="stylesheet/less" type="text/less" media="all" href="{{ STATIC_URL }}css/style.less" />

    <script src="{{ STATIC_URL }}js/libs/min/modernizr-2.6.2.min.js"></script>
    
</head>

<body>

    {% block section %}{% endblock %}
    
    <!-- JavaScript at the bottom for fast page loading -->

    <script src="{{ STATIC_URL }}js/libs/min/less-1.3.3.min.js"></script>

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="{{ STATIC_URL }}js/libs/min/gumby.min.js"></script>

    <script src="{{ STATIC_URL }}js/plugins.js"></script>
    <!-- Lib: Effects -->
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.lettering.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/timeline.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.easing.1.3.js"></script>

    <script src="{{ STATIC_URL }}js/jquery.fittext.js"></script>
    <script src="{{ STATIC_URL }}js/boxgrid.js"></script>
    
    <script src="{{ STATIC_URL }}js/waypoints.js"></script>
    <script src="{{ STATIC_URL }}js/waypoints-sticky.js"></script>

    <script src="{{ STATIC_URL }}js/jquery.pfold.js"></script>

    <script src="{{ STATIC_URL }}js/main.js"></script>

    <script type="text/javascript">
            $(function() {

                // say we want to have only one item opened at one moment
                var opened = false;

                $( '#grid > div.uc-container' ).each( function( i ) {

                    var $item = $( this ), direction;

                    switch( i ) {
                        case 0 : direction = ['right','bottom']; break;
                        case 1 : direction = ['left','bottom']; break;
                        case 2 : direction = ['right','top']; break;
                        case 3 : direction = ['left','top']; break;
                    }
                    
                    var pfold = $item.pfold( {
                        folddirection : direction,
                        speed : 300,
                        onEndFolding : function() { opened = false; },
                        centered : true
                    } );

                    $item.find( 'span.icon-eye' ).on( 'click', function() {

                        if( !opened ) {
                            opened = true;
                            pfold.unfold();
                        }


                    } ).end().find( 'span.icon-cancel' ).on( 'click', function() {

                        pfold.fold();

                    } );

                } );
                
            });
        </script>

    <!-- end scripts-->

</body>
</html>