<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en" itemscope itemtype="http://schema.org/Product"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if nl %}
    <title>iMinds - Annual Report {{ report.year }}</title>
    {% else %}
    <title>iMinds - Annual Report {{ report.year }}</title>
    {% endif %}
    
    <meta name="description" content="{{ report.description }}" />
    <meta name="keywords" content="{{ report.keywords }}" />
    <meta name="author" content="humans.txt">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/x-icon" />
    <!-- iPad com Retina Display -->
    <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}img/favicon.png">
    <!-- iPhone com Retina Display -->
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/favicon.png">
    <!-- Primeira e segunda geração de iPad -->
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/favicon.png">
    <!-- Versões antigas de iPhone, iPod Touch e Android 2.2+  -->
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/favicon.png">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--Facebook Metadata /-->
    <meta property="fb:page_id" content="https://www.facebook.com/iMinds.be" />
    <meta property="og:image" content="" />
    <meta property="og:description" content=""/>
    <meta property="og:title" content="iMinds - Annual Report {{ report.year }}"/>

    <meta name="viewport" content="width=device-width,initial-scale=1">


    <!--<link rel="stylesheet/less" type="text/less" media="all" href="{{ STATIC_URL }}css/style.less" />-->
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />

    <script src="{{ STATIC_URL }}js/libs/min/modernizr-2.6.2.min.js"></script>
    
</head>

<body>

    {% block section %}{% endblock %}
    
    <!-- JavaScript at the bottom for fast page loading -->
    <script src="{{ STATIC_URL }}js/libs/min/less-1.3.3.min.js"></script>
    
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/min/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="{{ STATIC_URL }}js/libs/min/gumby.min.js"></script>

    <script src="{{ STATIC_URL }}js/plugins.js"></script>
    <!-- Lib: Effects -->

    <script src="{{ STATIC_URL }}js/libs/min/jquery.easing.1.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/min/jquery.mousewheel-3.0.6.min.js"></script>

    <script src="{{ STATIC_URL }}js/timeline.js"></script>

    <script src="{{ STATIC_URL }}js/min/jquery.fittext.min.js"></script>
    <script src="{{ STATIC_URL }}js/min/boxgrid.min.js"></script>

    <script src="{{ STATIC_URL }}js/min/jquery.flowslider.min.js"></script>

    <script src="{{ STATIC_URL }}js/classie.js"></script>
    <script src="{{ STATIC_URL }}js/cbpAnimatedHeader.js"></script>

    <script src="{{ STATIC_URL }}js/perfect-scrollbar.js"></script>

    <script src="{{ STATIC_URL }}js/min/jquery.fancybox.min.js"></script>

    <script src="{{ STATIC_URL }}js/main.js"></script>
<script type="text/javascript">
            $(function() {
            
                // the element we want to apply the jScrollPane
                var $el                 = $('#jp-container').jScrollPane({
                    verticalGutter  : -16
                }),
                        
                // the extension functions and options  
                    extensionPlugin     = {
                        
                        extPluginOpts   : {
                            // speed for the fadeOut animation
                            mouseLeaveFadeSpeed : 500,
                            // scrollbar fades out after hovertimeout_t milliseconds
                            hovertimeout_t      : 1000,
                            // if set to false, the scrollbar will be shown on mouseenter and hidden on mouseleave
                            // if set to true, the same will happen, but the scrollbar will be also hidden on mouseenter after "hovertimeout_t" ms
                            // also, it will be shown when we start to scroll and hidden when stopping
                            useTimeout          : true,
                            // the extension only applies for devices with width > deviceWidth
                            deviceWidth         : 980
                        },
                        hovertimeout    : null, // timeout to hide the scrollbar
                        isScrollbarHover: false,// true if the mouse is over the scrollbar
                        elementtimeout  : null, // avoids showing the scrollbar when moving from inside the element to outside, passing over the scrollbar
                        isScrolling     : false,// true if scrolling
                        addHoverFunc    : function() {
                            
                            // run only if the window has a width bigger than deviceWidth
                            if( $(window).width() <= this.extPluginOpts.deviceWidth ) return false;
                            
                            var instance        = this;
                            
                            // functions to show / hide the scrollbar
                            $.fn.jspmouseenter  = $.fn.show;
                            $.fn.jspmouseleave  = $.fn.fadeOut;
                            
                            // hide the jScrollPane vertical bar
                            var $vBar           = this.getContentPane().siblings('.jspVerticalBar').hide();
                            
                            /*
                             * mouseenter / mouseleave events on the main element
                             * also scrollstart / scrollstop - @James Padolsey : http://james.padolsey.com/javascript/special-scroll-events-for-jquery/
                             */
                            $el.bind('mouseenter.jsp',function() {
                                
                                // show the scrollbar
                                $vBar.stop( true, true ).jspmouseenter();
                                
                                if( !instance.extPluginOpts.useTimeout ) return false;
                                
                                // hide the scrollbar after hovertimeout_t ms
                                clearTimeout( instance.hovertimeout );
                                instance.hovertimeout   = setTimeout(function() {
                                    // if scrolling at the moment don't hide it
                                    if( !instance.isScrolling )
                                        $vBar.stop( true, true ).jspmouseleave( instance.extPluginOpts.mouseLeaveFadeSpeed || 0 );
                                }, instance.extPluginOpts.hovertimeout_t );
                                
                                
                            }).bind('mouseleave.jsp',function() {
                                
                                // hide the scrollbar
                                if( !instance.extPluginOpts.useTimeout )
                                    $vBar.stop( true, true ).jspmouseleave( instance.extPluginOpts.mouseLeaveFadeSpeed || 0 );
                                else {
                                clearTimeout( instance.elementtimeout );
                                if( !instance.isScrolling )
                                        $vBar.stop( true, true ).jspmouseleave( instance.extPluginOpts.mouseLeaveFadeSpeed || 0 );
                                }
                                
                            });
                            
                            if( this.extPluginOpts.useTimeout ) {
                                
                                $el.bind('scrollstart.jsp', function() {
                                
                                    // when scrolling show the scrollbar
                                clearTimeout( instance.hovertimeout );
                                instance.isScrolling    = true;
                                $vBar.stop( true, true ).jspmouseenter();
                                
                            }).bind('scrollstop.jsp', function() {
                                
                                    // when stop scrolling hide the scrollbar (if not hovering it at the moment)
                                clearTimeout( instance.hovertimeout );
                                instance.isScrolling    = false;
                                instance.hovertimeout   = setTimeout(function() {
                                    if( !instance.isScrollbarHover )
                                            $vBar.stop( true, true ).jspmouseleave( instance.extPluginOpts.mouseLeaveFadeSpeed || 0 );
                                    }, instance.extPluginOpts.hovertimeout_t );
                                
                            });
                            
                                // wrap the scrollbar
                                // we need this to be able to add the mouseenter / mouseleave events to the scrollbar
                            var $vBarWrapper    = $('<div/>').css({
                                position    : 'absolute',
                                left        : $vBar.css('left'),
                                top         : $vBar.css('top'),
                                right       : $vBar.css('right'),
                                bottom      : $vBar.css('bottom'),
                                width       : $vBar.width(),
                                height      : $vBar.height()
                            }).bind('mouseenter.jsp',function() {
                                
                                clearTimeout( instance.hovertimeout );
                                clearTimeout( instance.elementtimeout );
                                
                                instance.isScrollbarHover   = true;
                                
                                    // show the scrollbar after 100 ms.
                                    // avoids showing the scrollbar when moving from inside the element to outside, passing over the scrollbar                              
                                instance.elementtimeout = setTimeout(function() {
                                    $vBar.stop( true, true ).jspmouseenter();
                                }, 100 );   
                                
                            }).bind('mouseleave.jsp',function() {
                                
                                    // hide the scrollbar after hovertimeout_t
                                clearTimeout( instance.hovertimeout );
                                instance.isScrollbarHover   = false;
                                instance.hovertimeout = setTimeout(function() {
                                        // if scrolling at the moment don't hide it
                                    if( !instance.isScrolling )
                                            $vBar.stop( true, true ).jspmouseleave( instance.extPluginOpts.mouseLeaveFadeSpeed || 0 );
                                    }, instance.extPluginOpts.hovertimeout_t );
                                
                            });
                            
                            $vBar.wrap( $vBarWrapper );
                            
                        }
                        
                        }
                        
                    },
                    
                    // the jScrollPane instance
                    jspapi          = $el.data('jsp');
                    
                // extend the jScollPane by merging 
                $.extend( true, jspapi, extensionPlugin );
                jspapi.addHoverFunc();
            
            });
        </script>

    <!-- classie.js by @desandro: https://github.com/desandro/classie -->
        <script src="{{ STATIC_URL }}js/classie.js"></script>
        <script src="{{ STATIC_URL }}js/modalEffects.js"></script>

        <script src="{{ STATIC_URL }}js/cssParser.js"></script>


        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jscrollpane.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/scroll-startstop.events.jquery.js"></script>

        
        


    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42633200-1', 'iminds.be');
    ga('send', 'pageview');

    </script>
    <!-- end scripts-->

</body>
</html>