<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>INNOVATIE EN ONDERNEMERSCHAP STIMULEREN</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}new/favicon.png" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" href="{{ STATIC_URL }}new/css/style.css">

    <script src="{{ STATIC_URL }}new/js/libs/modernizr-2.6.2.min.js"></script>
</head>

<body>
    
    <section role="highlight" class="row">
        
        <header>
            <h1>
                <img src="{{ STATIC_URL }}new/img/April copy.png" />
            </h1>

            <hr />
        </header>

      <h2>INNOVATIE EN ONDERNEMERSCHAP STIMULEREN</h2>
      
      <p>&nbsp;</p>
      <p>Elk jaar organiseert iMinds een iBoot coaching programma voor ondernemende zielen met een specifiek ICT businessidee. Bij de start van het programma worden teams samengesteld met enerzijds idee-eigenaars en anderzijds onderzoekers met technische expertise. Elk team ontwikkelt daarna een gedetailleerd businessplan doorheen een reeks van intensieve coachingsessies. Tijdens een grote finale presenteren de teams hun businessplan aan een jury, bestaande uit ondernemers en investeerders. 
</p>
      <p>In april 2012 werden zeven ondernemers geselecteerd voor deelname aan iBoot. Maak kennis met de ideeën: </p>
      <a href="https://vimeo.com/37101673"><img src="{{ STATIC_URL }}new/img/Milestone April 1 small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Read&Play</h3>
      <p><strong>Idee:</strong> Read&Play - een app voor tablet en browser die 21ste-eeuwse fabels aanreikt aan 21ste-eeuwse kinderen die liever gamen dan lezen. </p>
      <p><strong>Idee-eigenaar:</strong> Ianka Fleerackers </p>
      <p>&nbsp;</p>
      <a href="https://vimeo.com/37101880"><img src="{{ STATIC_URL }}new/img/Milestone April 2 small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a> 
      <h3>Caphe</h3>
      <p><strong>Idee:</strong> Caphe - software om sneller en accurater het ontwerp van optische chips te vergemakkelijken.
</p>
      <p><strong>Idee-eigenaar:</strong> Martin Fiers </p>
      <p>&nbsp;</p>
      <a href="https://vimeo.com/37101937"><img src="{{ STATIC_URL }}new/img/Milestone April 3 small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Axsmate</h3>
      <p><strong>Idee:</strong>  Axsmate - gebruik maken van mobiele telefoons en cloud-gebaseerde diensten voor remote access use cases.
</p>
      <p><strong>Idee-eigenaar:</strong> Mick de Valck </p>
      <p>&nbsp;</p>
      <a href="https://vimeo.com/37101579"><img src="{{ STATIC_URL }}new/img/Milestone April 4small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Graphine</h3>
      <p><strong>Idee:</strong> Graphine - een middleware-oplossing voor o.a. game-ontwikkelaars, die helpt om gigapixel textuur datasets te creëren en te visualiseren.
</p>
      <p><strong>Idee-eigenaar:</strong> Charles Hollemeersch </p>
      <p>&nbsp;</p>
      <a href="https://vimeo.com/37101725"><img src="{{ STATIC_URL }}new/img/Milestone April 5small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Dyamand</h3>
        <p><strong>Idee:</strong> Dyamand - een eenvoudig aanpasbaar applicatie-framework voor de bediening op afstand van netwerkapparaten en -diensten
</p>
        <p><strong>Idee-eigenaar:</strong> Jelle Nelis </p>
        <p>&nbsp;</p>
        
         <a href="https://vimeo.com/37102063"><img src="{{ STATIC_URL }}new/img/Milestone April 6small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Lionfish</h3>
        <p><strong>Idee:</strong> Lionfish – innovatieve mobiele telefoonapplicaties voor evenementen
</p>
        <p><strong>Idee-eigenaar:</strong> Thomas Deckers </p>
        <p>&nbsp;</p>
        
         <a href="https://vimeo.com/37101617"><img src="{{ STATIC_URL }}new/img/Milestone April 7 small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Cloud Friends</h3>
        <p><strong>Idee:</strong> Cloud Friends - de digitale thuisomgeving naar de ‘cloud’ brengen
</p>
        <p><strong>Idee-eigenaar:</strong> Erik Horemans </p>
      <p>&nbsp;</p>
      <p>Vier teams doorliepen het volledige traject en overwonnen heel wat hindernissen om hun businessplan te finaliseren: Graphine, Axsmate, Cloud Friends en Caphe.

      </p>
      <p><a href="http://graphinesoftware.com/">Graphine</a> Graphine (http://graphinesoftware.com/) werd unaniem uitgeroepen tot winnaar van deze editie, dankzij hun unieke technologie, goede value proposition, het complementaire team en de overtuigende pitch. Hiermee stootte het team rechtstreeks door naar de finale selectieronde van het <a href="http://www.iminds.be/en/entrepreneurship/incubation">iStart</a> incubatieprogramma. </p>
      
        <blockquote>
            <figure class="thirteen columns alpha">
                <img src="{{ STATIC_URL }}new/img/photo-example.png" />
                <figcaption>
                    <strong>Ingrid Lieten</strong>
                    <p>Flemish minister for Innovation & Media</p>
                </figcaption>
          </figure>

            <p>"Het is erg belangrijk dat we via programma’s als iBoot en iStart ondernemers met een waardevol businessidee kunnen ondersteunen en zo hun kansen om een succesvol bedrijf uit te bouwen, maximaliseren. Innovatie gaat immers hand in hand met maatschappelijke en economische impact.”</p>
      </blockquote>
<p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          
      
<p>Benieuwd naar hoe Graphine het tegenwoordig stelt? Neem <a href="http://www.iminds.be/en/blog/p/detail/graphine-is-here-to-stay">hier</a> een kijkje. </p>
    </section>
    <br /><br />



    <!-- Grab Google CDN's jQuery, fall back to local if offline -->
    <!-- 2.0 for modern browsers, 1.10 for .oldie -->
    <script>
        var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
            if(!oldieCheck) {
                document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
            } else {
                document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
            }
        </script>
        <script>
        if(!window.jQuery) {
            if(!oldieCheck) {
                document.write('<script src="{{ STATIC_URL }}new/js/libs/jquery-2.0.2.min.js"><\/script>');
            } else {
                document.write('<script src="{{ STATIC_URL }}new/js/libs/jquery-1.10.1.min.js"><\/script>');
            }
        }
    </script>

    <script src="{{ STATIC_URL }}new/js/libs/gumby.min.js"></script>
    <script src="{{ STATIC_URL }}new/js/plugins.js"></script>

    <script src="{{ STATIC_URL }}new/js/main.js"></script>

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
     chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

</body>
</html>
