<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>STIMULATING INNOVATION AND ENTREPRENEURSHIP</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" href="{{ STATIC_URL }}/new/css/style.css">

    <script src="{{ STATIC_URL }}/new/js/libs/modernizr-2.6.2.min.js"></script>
</head>

<body>
    
    <section role="highlight" class="row">
        
        <header>
            <h1>
                <img src="{{ STATIC_URL }}new/img/April copy.png" />
            </h1>

            <hr />
        </header>

      <h2>STIMULATING INNOVATION AND ENTREPRENEURSHIP</h2>
      
      <p>&nbsp;</p>
      <p>Every year, iMinds organises the iBoot coaching program for entrepreneurial minds who have a specific ICT business idea. Teams are assembled during this program, and each of them draws up a highly evolved business plan over the course of intensive coaching sessions. The grand finale arrives when teams present their business plan to a panel composed of entrepreneurs and investors.
</p>
      <p>In April 2012, seven companies were selected to participate in the intensive and international training and coaching, which took them to the different aspects of creating a business plan. Learn about the ideas: </p>
      <a href="https://vimeo.com/37101673"><img src="{{ STATIC_URL }}/new/img/Milestone April 1 small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Read&Play</h3>
      <p><strong>Idea:</strong> an app for tablet and browser presenting 21st century fables to 21st century kids who prefer gaming above reading. </p>
      <p><strong>Owner:</strong> Ianka Fleerackers</p>
      <p>&nbsp;</p>
      <a href="https://vimeo.com/37101880"><img src="{{ STATIC_URL }}/new/img/Milestone April 2 small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a> 
      <h3>Caphe</h3>
      <p><strong>Idea:</strong> software to facilitate the speedier and more accurate design of optical chips. </p>
      <p><strong>Owner: </strong>Martin Fiers </p>
      <p>&nbsp;</p>
      <a href="https://vimeo.com/37101937"><img src="{{ STATIC_URL }}/new/img/Milestone April 3 small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Axsmate</h3>
      <p><strong>Idea:</strong> making use of mobile phone and cloud based services for remote access use cases</p>
      <p><strong>Owner:</strong> Mick de Valck </p>
      <p>&nbsp;</p>
      <a href="https://vimeo.com/37101579"><img src="{{ STATIC_URL }}/new/img/Milestone April 4small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Graphine</h3>
      <p><strong>Idea:</strong> a middleware solution for (game)developers, that helps to create and visualise gigapixel texture datasets.</p>
      <p><strong>Owner:</strong> Charles Hollemeersch </p>
      <p>&nbsp;</p>
      <a href="https://vimeo.com/37101725"><img src="{{ STATIC_URL }}/new/img/Milestone April 5small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Dyamand</h3>
        <p><strong>Idea:</strong> an easily adjustable application  framework for remote control of networked devices and services.</p>
      <p><strong>Owner:</strong> Jelle Nelis </p>
      <p>&nbsp;</p>
        
         <a href="https://vimeo.com/37102063"><img src="{{ STATIC_URL }}/new/img/Milestone April 6small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Lionfish</h3>
        <p><strong>Idea:</strong> a complementary team working on innovation for events
</p>
        <p><strong>Owner:</strong> Thomas Deckers </p>
        <p>&nbsp;</p>
        
         <a href="https://vimeo.com/37101617"><img src="{{ STATIC_URL }}/new/img/Milestone April 7 small.png" style="float:left; margin-right:20px; margin-bottom:10px;"/></a>
      <h3>Cloud Friends</h3>
        <p><strong>Idea:</strong> bringing the digital home to the cloud.
</p>
        <p><strong>Owner:</strong> Erik Horemans </p>
      <p>&nbsp;</p>
      <p>Under the guidance of national and international coaches, the teams spent five months drawing up a business plan, with 4 of those companies advancing to the final panel round – Graphine, Axsmate, Cloud Friends and Caphe.      </p>
      <p><a href="http://graphinesoftware.com/">Graphine</a> was unanimously voted the winner of this edition thanks to its unique technology, solid value proposition, complementary team and persuasive pitch. This means that the team went straight to the final selection round of the <a href="http://www.iminds.be/en/entrepreneurship/incubation">iStart </a>incubation program. </p>
      
      <blockquote>
            <figure class="thirteen columns alpha">
                <img src="{{ STATIC_URL }}/new/img/photo-example.png" />
                <figcaption>
                    <strong>Ingrid Lieten</strong>
                    <p>Flemish minister for Innovation & Media</p>
                </figcaption>
          </figure>

            <p>“It is crucial that we can support entrepreneurs who have a worthwhile business idea through programs such as iBoot and iStart and in so doing maximize their chances of building a successful business. After all, innovation goes hand in hand with social and economic impact.”</p>
            </blockquote>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          
      
<p style="position: absolute;">Curious about how Graphine is doing nowadays? Find out more<a href="http://www.iminds.be/en/blog/p/detail/graphine-is-here-to-stay"> here</a>. </p>
    </section>
    <br /><br />



    <!-- Grab Google CDN's jQuery, fall back to local if offline -->
    <!-- 2.0 for modern browsers, 1.10 for .oldie -->
    <script>
        var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
            if(!oldieCheck) {
                document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
            } else {
                document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
            }
        </script>
        <script>
        if(!window.jQuery) {
            if(!oldieCheck) {
                document.write('<script src="{{ STATIC_URL }}/new/js/libs/jquery-2.0.2.min.js"><\/script>');
            } else {
                document.write('<script src="{{ STATIC_URL }}/new/js/libs/jquery-1.10.1.min.js"><\/script>');
            }
        }
    </script>

    <script src="{{ STATIC_URL }}/new/js/libs/gumby.min.js"></script>
    <script src="{{ STATIC_URL }}/new/js/plugins.js"></script>

    <script src="{{ STATIC_URL }}/new/js/main.js"></script>

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
     chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

</body>
</html>
