<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>COULD YOU MAKE IT ONE DAY WITHOUT SOCIAL MEDIA?</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}new/favicon.png" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" href="{{ STATIC_URL }}new/css/style.css">

    <script src="{{ STATIC_URL }}new/js/libs/modernizr-2.6.2.min.js"></script>
</head>

<body>
    
    <section role="highlight" class="row">
        
        <header>
            <h1>
                <img src="{{ STATIC_URL }}new/img/December copy.png" />
            </h1>

            <hr />
        </header>

        <h2>COULD YOU MAKE IT ONE DAY WITHOUT SOCIAL MEDIA?</h2>
        
     
     <p>&nbsp;</p>
     <p>Digimeter is a yearly enquiry by <a href="http://www.iminds.be/en/develop-test/ilab-o">iMinds-iLab.o</a> that measures the use of media and ICT in Flanders. To get a representative overview, the Flemish people were heard both online and offline.</p>
     <p>One of the most peculiar results of this 2012 report is how much Flemish people cling to social media. More than half of the people claim to be unable to spend one day without accessing it. Yet 61% do not find social media time-consuming.       </p>
     <p>Digimeter also shows that we are not handling our accounts very well. While one in three users think of social media as an intrusion of their privacy, 1 in 5 never even checked their privacy settings.       </p>
     <p>This lack of awareness has the potential to be both a goldmine and a minefield: on the one hand, cybercrime is a constant and growing threat; if Flemish social media users bear this in mind, they will be less likely to disregard online privacy. On the other, users’ willingness to share personal information online is a gift to companies trying to reach them, and handling that information with appropriate care will go a long way toward ensuring social media channels remain open—and it's a proven point that the Flemings do want that.       </p>
     <p>Time to educate the Flemish people more clearly and much better about social media like Facebook, Pinterest, Instagram, Twitter, Google Plus...       </p>
     <p>Yet, Digimeter was not all about social media in Flanders. It is an overview of all media usage and possession in Flanders. </p>
     <p><strong>Some interesting numbers:</strong> </p>
     <p><strong>-	82.1% own a digital television. 48% use it mainly to skip commercials.<br>
       -	1 in 5 Flemings has at least three computers: a laptop, a desktop and a tablet. 
       </strong></p>
     <p><strong>-	We use our cellphone more and more for other things than calling and texting. 66,5% check their e-mail on their phone daily. 
       </strong></p>
     <p><strong>-	Gaming is still very popular, but cells and smartphones are steadily replacing the classic gaming console. One out of ten gamers uses a GSM or smartphone to play a game every day. This makes the mobile phone the most popular daily gaming device.
       </strong></p>
     <p><strong>-	The radio is still the all-time favourite to listen to music (76%) and pick up the latest news (65,1%)
       </strong></p>
     <p><strong>-	Have you worried that online purchase of songs is undermining the music industry? Here is a surprising fact for you: a staggering 80,5% have never bought their music online. For those who have already done this, iTunes is by far the most used channel: 82.3%</strong></p>
     <p> All about Digimeter and the most recent numbers: <a href="http://www.digimeter.be/">www.digimeter.be </a></p>
     <p>&nbsp;</p><h3>&nbsp;</h3>
     
     
    </section>
    <br /><br />



    <!-- Grab Google CDN's jQuery, fall back to local if offline -->
    <!-- 2.0 for modern browsers, 1.10 for .oldie -->
    <script>
        var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
            if(!oldieCheck) {
                document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
            } else {
                document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
            }
        </script>
        <script>
        if(!window.jQuery) {
            if(!oldieCheck) {
                document.write('<script src="{{ STATIC_URL }}new/js/libs/jquery-2.0.2.min.js"><\/script>');
            } else {
                document.write('<script src="{{ STATIC_URL }}new/js/libs/jquery-1.10.1.min.js"><\/script>');
            }
        }
    </script>

    <script src="{{ STATIC_URL }}new/js/libs/gumby.min.js"></script>
    <script src="{{ STATIC_URL }}new/js/plugins.js"></script>

    <script src="{{ STATIC_URL }}new/js/main.js"></script>

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
     chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

</body>
</html>
