header {

    position: relative;

    -moz-animation-name: Fade;
    -moz-animation-iteration-count: once;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.5s;

    -webkit-animation-name: Fade;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
}
@-moz-keyframes Fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes Fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}