.ss-container {
    width: 100%;
	.hidden;
}
    .ss-row{
        border:;
        width: 100%;
        .relative;
        height: 20em;
    }
        .ss-left,
        .ss-right {
            width: 50%;

            .relative;
            .left;
        }
        .ss-left {
            .left;
        }