
button.select-month {
    width: 100px;
    height: 38px;
    border-radius: 6px;
    background: @gray-hard!important;
    float: right;
}
button.go {
    height: 36px;
    color: @white;
    font-size: 12px;
    letter-spacing: 1px;
    .uppercase;
}











        section[role="even"] button.scroll-top {
        height: 100px;
        .relative;
        z-index: 9;
        top: -60px;
        left: 338px;
        border: none;
        color: @white;
    }
    section[role="even"] button.scroll-top svg {
        border: none;
        border-radius: 0;
    }
        section[role="even"] button.scroll-top .text {
            .relative;
            .open-sans-condensed;
            color: @white;
            top: -4.3em;
            left: -10px;
            line-height: 1em;
            height: 2.8em;
        }



footer {
    width: 100%;
    height: 30px;
    padding-top: 3px;
    position: relative;
    top: 0em;
    background: #fff;
    border-top: 1px solid #b8c4ce;
    color: #b8c4ce;
    font-size: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;

    box-shadow: 0 5px 60px #b8c4ce;
}
    footer a {
        color: #a2adb6;
        border-bottom: 1px solid #b8c4ce;
    }



/* LANGUAGE
=================================== */
nav.language {
    width: 52px;
    height: 20px;
    font-size: 12px;
    right: 0;
    position: absolute;
    z-index: 99;
}
nav.language ul li {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    text-align: center;
    display: block;
    border-radius: 0 0 4px 4px;
    float: left;
    background: #fff;
}
nav.language ul li:hover,
nav.language ul li.active {
    background: #b8c4ce;
}
nav.language ul li:hover a,
nav.language ul li.active a {
    color: #fff;
}
nav.language ul li a {
    color: #b8c4ce;
    font-weight: bold;
}

/* ==========================================================================
General: 'etc';
========================================================================== */
body {
    font-family: 'Open Sans Condensed', sans-serif;
    background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MyUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2JkOGUzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #fcfcfc 73%, #cbd8e3 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(73%,#fcfcfc), color-stop(100%,#cbd8e3)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#fcfcfc 73%,#cbd8e3 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#fcfcfc 73%,#cbd8e3 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#fcfcfc 73%,#cbd8e3 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #ffffff 0%,#fcfcfc 73%,#cbd8e3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cbd8e3',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  
  -moz-animation-name: BodyBackground;
    -moz-animation-iteration-count: once;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 2s;

    -webkit-animation-name: BodyBackground;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 2s;

}

@-moz-keyframes BodyBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes BodyBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}



a {
.decoration-none;
}

p {
.helvetica-neue;
font-weight: 300;
}
h3 {
.open-sans-condensed;
}

/* ==========================================================================
Sections: 'start';
========================================================================== */


