.row {
    width: 1024px;
    max-width: 1024px;
    position: absolute;
    margin-left:-512px;
    left:50%;
}
    .row .row {
        min-width: 0px;
    }
        .column,
        .columns {
            margin-left: 20px;
            float: left;
        }
            .column:first-child,
            .columns:first-child,
            .alpha {
                margin-left: 0px;
            }
            .column.omega,
            .columns.omega {
                float: right;
            }
            .row .one.column,
            .row .one.columns,
            .thirty-two.colgrid
            .row .one.columns {
                width: 25.6px;
            }
            .row .two.columns {
                width: 51.2px;
            }
            .row .three.columns {
                width: 76.8px;
            }
            .row .four.columns {
                width: 102.4px;
            }
            .row .five.columns {
                width: 128px;
            }
            .row .six.columns {
                width: 153.6px;
            }
            .row .seven.columns {
                width: 179.2px;
            }
            .row .eight.columns {
                width: 204.8px;
            }
            .row .nine.columns {
                width: 230.4px;
            }
            .row .ten.columns {
                width: 256px;
            }
            .row .eleven.columns {
                width: 281.6px;
            }
            .row .twelve.columns {
                width: 307.2px;
            }
            .row .thirteen.columns {
                width: 332.8px;
            }
            .row .fourteen.columns {
                width: 358.4px;
            }
            .row .fifteen.columns {
                width: 384px;
            }
            .row .sixteen.columns {
                width: 409.6px;
            }
            .row .seventeen.columns {
                width: 435.2px;
            }
            .row .eighteen.columns {
                width: 460.8px;
            }
            .row .nineteen.columns {
                width: 486.4px;
            }
            .row .twenty.columns {
                width: 512px;
            }
            .row .twenty-one.columns {
                width: 537.6px;
            }
            .row .twenty-two.columns {
                width: 563.2px;
            }
            .row .twenty-three.columns {
                width: 588.8px;
            }
            .row .twenty-four.columns {
                width: 614.4px;
            }
            .row .twenty-five.columns {
                width: 640px;
            }
            .row .twenty-six.columns {
                width: 665.6px;
            }
            .row .twenty-seven.columns {
                width: 691.2px;
            }
            .row .twenty-eight.columns {
                width: 716.8px;
            }
            .row .twenty-nine.columns {
                width: 742.4px;
            }
            .row .thirty.columns { 
                width: 768px;
            }

            .row .thirty-one.columns {
                width: 793.6px;
            }
            .row .thirty-two.columns {
                width: 819.2px;
            }
            .row .thirty-three.columns {
                width: 844.8px;
            }
            .row .thirty-four.columns {
                width: 870.4px;
            }
            .row .thirty-five.columns {
                width: 896px;
            }
            .row .thirty-six.columns {
                width: 921.6px;
            }
            .row .thirty-seven.columns {
                width: 947.2px;
            }
            .row .thirty-eight.columns {
                width: 972.8px;
            }
            .row .thirty-nine.columns {
                width: 998.4px;
            }
            .row .fourty.columns {
                width: 1024px;
            }
            .row .full.columns {
                width: 100%;
            }
            .row .push_one {
                margin-left: 25.6px;
            }
            .row .push_two {
                margin-left: 51.2px;
            }
            .row .push_three {
                margin-left: 76.8px;
            }
            .row .push_four {
                margin-left: 102.4px;
            }
            .row .push_five {
                margin-left: 128px;
            }
            .row .push_six {
                margin-left: 153.6px;
            }
            .row .push_seven {
                margin-left: 179.2px;
            }
            .row .push_eight {
                margin-left: 204.8px;
            }
            .row .push_nine {
                margin-left: 230.4px;
            }
            .row .push_ten {
                margin-left: 256px;
            }
            .row .push_eleven {
                margin-left: 281.6px;
            }
            .row .push_twelve {
                margin-left: 307.2px;
            }
            .row .push_thirteen {
                margin-left: 332.8px;
            }
            .row .push_fourteen {
                margin-left: 358.4px;
            }
            .row .push_fifteen {
                margin-left: 384px;
            }
            .row .push_sixteen {
                margin-left: 409.6px;
            }
            .row .push_seventeen {
                margin-left: 435.2px;
            }
            .row .push_eighteen {
                margin-left: 460.8px;
            }
            .row .push_nineteen {
                margin-left: 486.4px;
            }
            .row .push_twenty {
                margin-left: 512px;
            }
            .row .push_twenty-one {
                margin-left: 537.6px;
            }
            .row .push_twenty-two {
                margin-left: 563.2px;
            }
            .row .push_twenty-three {
                margin-left: 588.8px;
            }
            .row .push_twenty-four {
                margin-left: 614.4px;
            }
            .row .push_twenty-five {
                margin-left: 640px;
            }
            .row .push_twenty-six {
                margin-left: 665.6px;
            }
            .row .push_twenty-seven {
                margin-left: 691.2px;
            }
            .row .push_twenty-eight {
                margin-left: 716.8px;
            }
            .row .push_twenty-nine {
                margin-left: 742.4px;
            }
            .row .push_thirty {
                margin-left: 768px;
            }
            .row .push_thirty-one {
                margin-left: 793.6px;
            }
            .row .push_thirty-two {
                margin-left: 819.2px;
            }
            .row .push_thirty-three {
                margin-left: 844.8px;
            }
            .row .push_thirty-four {
                margin-left: 870.4px;
            }
            .row .push_thirty-five {
                margin-left: 896px;
            }
            .row .push_thirty-six {
                margin-left: 921.6px;
            }
            .row .push_thirty-seven {
                margin-left: 947.2px;
            }
            .row .push_thirty-eight {
                margin-left: 972.8px;
            }
            .row .push_thirty-nine {
                margin-left: 998.4px;
            }
            .row .one.centered {
                margin-left: 50%;
            }
            .row .two.centered {
                margin-left: 47.5%;
            }
            .row .three.centered {
                margin-left: 45%;
            }
            .row .four.centered {
                margin-left: 42.5%;
            }
            .row .five.centered {
                margin-left: 40%;
            }
            .row .six.centered {
                margin-left: 37.5%;
            }
            .row .seven.centered {
                margin-left: 35%;
            }
            .row .eight.centered {
                margin-left: 32.5%;
            }
            .row .nine.centered {
                margin-left: 30%;
            }
            .row .ten.centered {
                margin-left: 27.5;
            }
            .row .eleven.centered {
                margin-left: 25%;
            }
            .row .twelve.centered {
                margin-left: 22.5%;
            }
            .row .thirteen.centered {
                margin-left: 20%;
            }
            .row .fourteen.centered {
                margin-left: 17.5%;
            }
            .row .fifteen.centered {
                margin-left: 15%;
            }
            .row .sixteen.centered {
                margin-left: 12.5%;
            }
            .row .seventeen.centered {
                margin-left: 10%;
            }
            .row .eighteen.centered {
                margin-left: 7.5%;
            }
            .row .nineteen.centered {
                margin-left: 5%;
            }
            .row .twenty.centered {
                margin-left: 25%;
            }
            
.pull_right { float: right; }

.pull_left { float: left; }

img, object, embed { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none !important; }

/* Nicolas Gallagher's micro clearfix */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.row { *zoom: 1; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }

.valign { display: table; width: 100%; }
.valign > div { display: table-cell; vertical-align: middle; }
.valign ​ > article { display: table-cell; vertical-align: middle; }