@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@import 'grid.css';
@import 'reset.css';

@import 'default.css';

/* Home */
@import 'home/base.css';
@import 'home/transitions.css';
@import 'home/buttons.css';
@import 'home/slider.css';

/* Months */
@import 'months/base.css';
@import 'months/transitions.css';
@import 'months/headers.css';
@import 'months/buttons.css';
@import 'months/timeline.css';
@import 'months/milestones.css';
@import 'months/overlay.css';
@import 'months/scrollbar.css';



/* ==========================================================================
General: 'body'etc;
========================================================================== */
.arrow-color { background: #fff }

@black: #404040;

@gray-tiny: #eff2f5;
@gray-hard: #b8c4ce;

@green: #65be5d;
@pink: #ec008c;


.open-sans-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}
.helvetica-neue {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
// All transitions CORE
.transition-fast {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.transition-normal {
-webkit-transition: all 0.8s linear;
-moz-transition: all 0.8s linear;
-o-transition: all 0.8s linear;
-ms-transition: all 0.8s linear;
transition: all 0.8s linear;
}
.transition-basic {
-webkit-appearance: none;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}
.transition-fade {
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  transition: background 0.2s linear;
}