<div class="md-modal md-effect-1" id="milestone-february">
    <div class="md-content">

        <button class="md-close">X</button>

        <div class="container">
            <div class="wrapper">
                <div class="jp-container">
               
                <aside class="milestone">
                    <img class="milestone" src="{{ february.milestone.url_100x100 }}" />
                    <div class="m-line"></div>
                </aside>

                <div class="o-content">
                {{ february.content|safe }}
                </div>

                </div>
            </div>
        </div>

    </div>
</div>