<div class="md-modal md-effect-1" id="milestone-february">
    <div class="md-content">

        <button class="md-close">X</button>

        <div class="container">
            <div class="wrapper">
                <div class="jp-container">
               
                <aside class="milestone">
                    <img style="left: -38%" class="milestone" src="{{ february.milestone.url_100x100 }}" />
                    <div class="m-line"></div>
                </aside>

                <div class="o-content">
                <header>
                    <h1>DEMAND-DRIVEN INNOVATION WITH MAXIMUM IMPACT</h1>
                </header>

<div style="height: 8em;">
<img style="position: relative; top: 0; left: -1em" src="http://app-annual-report.s3.amazonaws.com/uploads/icon-ict.png" alt="ICT" style="float: left;">

<p style="width: 740px; text-align: left; float: right">
<b>ICT</b><br>

iMinds is first and foremost a strategic research center in the field of digital technology.
Each of our projects contains—to a greater or lesser extent—some digital component. This means the ICT sector is a key market segment. It includes research areas such as telecommunications, cloud computing, networks, security and identity management. iMinds is also active in
numerous programs for the international development and standardization of technologies.</p>
</div>

<div style="height: 6.6em;">
<img style="position: relative; top: 0; left: -0.8em" src="http://app-annual-report.s3.amazonaws.com/uploads/icon-media.png" alt="MEDIA" style="float: left;">

<p style="width: 740px; text-align: left; float: right">
<b>MEDIA</b><br>

Digital innovation offers forward looking media companies many opportunities to develop innovative services for new media carriers such as tablets and smartphones. At the same time, it enables them to make their content more responsive to the personal preferences of consumers.
New media also open up many educational opportunities</p>
</div>

<div style="height: 7em;">
<img style="position: relative; top: 0; left: -0.8em" src="http://app-annual-report.s3.amazonaws.com/uploads/icon-health.png" alt="HEALTH" style="float: left;">

<p style="width: 740px; text-align: left; float: right">
<b>HEALTH</b><br>

Digital Technology will play a major role in ensuring high-quality, efficient and affordable health care for all. Our aging population is increasing the need for remote nursing and home care. New tools and medical technologies enable better, more personalized care and will enable governments to focus more on preventive health care.</p>
</div>

<div style="height: 6.9em;">
<img style="position: relative; top: 0; left: -0.8em" src="http://app-annual-report.s3.amazonaws.com/uploads/icon-energy.png" style="float: left;" alt="ENERGY">

<p style="width: 740px; text-align: left; float: right">
<b>ENERGY</b><br>

The production of green energy creates new challenges
for existing energy distribution networks, since production and consumption are
much more difficult to reconcile. Smart
grids will enable to respond more flexibly to fluctuating demands for
energy. Smart homes and
electric cars continue to offer a vast potential to preserve natural resources.</p>
</div>

<div style="height: 6.8em;">
<img style="position: relative; top: 0; left: -0.9em" src="http://app-annual-report.s3.amazonaws.com/uploads/icon-cities.png" style="float: left;" alt="SMART CITIES">

<p style="width: 740px; text-align: left; float: right">
<b>SMART CITIES</b><br>

Worldwide, an increasing number of people are living in urban environments. Cities will therefore have to undergo a major transformation if they are to continue to ensure mobility, housing and public services for the growing influx of people. An efficient infrastructure, supported by innovative ICT applications, will play a crucial role.</p>
</div>

<div style="height: 9em;">
<img style="position: relative; top: 0; left: -0.5em" src="http://app-annual-report.s3.amazonaws.com/uploads/icon-manu.png" style="float: left;" alt="MANUFACTURING">

<p style="width: 740px; text-align: left; float: right">
<b>MANUFACTURING</b><br>

To remain competitive, companies must become high tech environments where flexibility, quality and efficiency are central. Meanwhile, a new trend is emerging for customized, highly personalized products manufactured close to local markets. In addition, new technologies such as 3D printing offer unprecedented potential.</span></p>
</div>

<div>
    <div style="width: 230px; height: 230px; border-radius: 100%; border: 3px solid #b8c4ce; float: left;">
    <img src="http://app-annual-report.s3.amazonaws.com/uploads/image-ingrid.png">
    </div>
    <p style="width: 500px; position: relative; left: -50px; text-align: left; float: right; font-size: 22px; font-style: italic;">
        “Goal-oriented and smart innovation is the way to create jobs and improve the competitive position of Flemish companies. With focused investments, we will be able to help companies develop and commercialize their innovations much faster. Only in this way can we create new jobs and secure our existing jobs.”</p>
    <br><br><br>
    <p style="width: 582px; float: left: text-align: left">
        <br><br><br><b>Ingrid Lieten, </b>Flemish minister for Innovation &amp; Media
    </p>
</div>

                </div>

                </div>
            </div>
        </div>

    </div>
</div>