<div class="md-modal md-effect-1" id="milestone-january">
    <div class="md-content">

        <button class="md-close">X</button>

        <div class="container">
            <div class="wrapper">
                <div id="jp-container" class="jp-container">
               

                <aside class="milestone">
                    <img class="milestone" src="{{ january.milestone.url_100x100 }}" />
                    <div class="m-line"></div>
                </aside>

                {{ january.content|safe }}

     
                </div>
            </div>
        </div>

    </div>
</div>