<div class="md-modal md-effect-1" id="milestone-march">
    <div class="md-content">

        <button class="md-close">X</button>

        <div class="container">
            <div class="wrapper">
                <div class="jp-container">
               
                <aside class="milestone">
                    <img class="milestone" src="{{ STATIC_URL }}img/milestones/small/02-mix_launch.small.png" />
                    <div class="m-line"></div>
                </aside>

                <div class="o-content">
                    
                    <div id="scrollbar1">
        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
        <div class="viewport">
             <div class="overview">
<header>
    <h1>INDIVIDUAL COMMITMENT TO A GROUP EFFORT</h1>
</header>

<br><br>

<p>Throughout the year, iMinds stimulates
activities to strengthen cooperation amongst the team members. This begins with
learning to communicate effectively and appreciate teammate strengths. More
than that, it stimulates our bright minds to get together and learn more about
each other. After all, no matter how talented we are as individuals, without
cooperation and team spirit we will be a company in name only.</p>

<p>In 2012, one of the
institute’s most ambitious endeavours kicked-off:&nbsp;<a href="http://biketothemoon.ibbt.be/" target="_self">Bike to the Moon.</a></p>

<p>Started on January 17th, “Bike to the Moon” stimulated researchers and central staff to take the bike
from home to the office – and back. The project also challenged them to
participate in sportive and recreative biking tours in order to increase the
number of kilometers biked. The goal was to travel 356,400 kilometers, the
distance between the Earth and the moon.</p>

<p><a href="http://g-flux.com/" target="_self">G-flux</a>, a start-up from iMinds’s
entrepreneur program&nbsp;<a href="http://www.iminds.be/en/entrepreneurship/incubation" target="_self">iStart</a>&nbsp;developed a state-of-the-art cycling mobile&nbsp;<a href="http://biketothemoon.ibbt.be/" target="_self">app</a>&nbsp;that is easy in use. The app tracks individual performance via GPS, using an easy button to "start" and "stop" your cycling trip. Bike to the Moon proved to be very hard but great fun and an incredible teambuilding event.</p>

<figure>
    <img src="http://app-annual-report.s3.amazonaws.com/uploads/600145_3749608072789_1114951737_n.jpg" alt="600145_3749608072789_1114951737_n.jpg" style="margin-top: 45px;" unselectable="on">
    <figcaption>
        Goal was achieved a year later, on February 22 2013.
    </figcaption>
</figure>


            </div>
        </div>
    </div>  
                </div>

                </div>
            </div>
        </div>

    </div>
</div>