<div class="md-modal md-effect-1" id="milestone-march">
    <div class="md-content">

        <button class="md-close">X</button>

        <div class="container">
            <div class="wrapper">
                <div class="jp-container">
               
                <aside class="milestone">
                    <img class="milestone" src="{{ march.milestone.url_100x100 }}" />
                    <div class="m-line"></div>
                </aside>

                <div class="o-content">
                

                <header>
                    <h1>MEDIA, A SECTOR IN FULL TRANSITION</h1>
                </header>
<b>A dedicated innovation center</b>

<p>In March 2012, iMinds launched MiX, an
innovation center specifically aimed at the media sector. The center follows up
new developments in fundamental research and turns promising innovations into
feasible research projects with a limited time horizon. A program
committee—with representatives from the media and the academic world—screens
and assesses incoming project proposals, based on their innovative nature and
their relevance for the Flemish market.
</p>

<p>
In cooperation with the media sector, two major innovation clusters were
identified:
</p>

<p>
&#8226; <b>Personalized Media</b>: how can media companies offer personalized
content to consumers using new digital technologies? The aim is to provide
content which is adapted to personal preferences, current location and device
on which the content is accessed (TV, smartphone, tablet, PC, et cetera).</li></ul>
</p>

<p>
&#8226; <b>Audience measurement</b>: how can media companies measure when, where
and how their content is accessed and shared by consumers? Traditional
measurement methods such as viewer statistics for TV programs or circulation
numbers of newspapers no longer provide an accurate picture of media
consumption.</p>



<div style="position: relative; top: 30px; height: 280px;">
    <div style="width: 230px; height: 230px; border-radius: 100%; position: relative; right: -70px; border: 3px solid #b8c4ce; float: left;">
    <img src="{{ STATIC_URL }}img/other/image-martijn.png">
    </div>
    <p style="width: 57%; position: relative; left: -70px; top: 35px; text-align: left; float: right; font-size: 20px; font-style: italic;">
        "The way we interact
with media and the devices we use is changing rapidly. This makes it
increasingly difficult for media companies to keep up with the needs of
consumers.”

    <br><br><span style="font-size: 16px; margin-top: -70px;"><b>Martijn Bal, </b>Director iMinds MiX</span>
</p>

</div>        </div>

                </div>
            </div>
        </div>

    </div>
</div>