<div class="md-modal md-effect-1" id="milestone-may">
    <div class="md-content">

        <button class="md-close">X</button>

        <div class="container">
            <div class="wrapper">
                <div class="jp-container">
               
                <aside class="milestone">
                    <img class="milestone" src="{{ may.milestone.url_100x100 }}" />
                    <div class="m-line"></div>
                </aside>

                <div class="o-content">
                <header>
                    <h1>A UNIQUE RESEARCH MODEL</h1>
                </header>
<p>ICON
stands for Interdisciplinary Cooperative Research and is a rather unique
research model. Companies, governments or other organizations that have
identified specific needs with their users, can start a research project in
collaboration with iMinds to address these needs. iMinds—along with its associated university
research departments—then goes looking for other partners that may be
interested in the research and can help carry it out.&nbsp;</p>

<p>Since the start of iMinds
in 2004, no less than 81 ICON projects have been successfully completed.
Numerous innovations—including&nbsp;<a href="http://www.scotty.be/nl/" target="_self">Scotty.be</a>,<span style="color:black">&nbsp;</span><a href="http://www.bednet.be/" target="_self">Bednet</a><span style="color:black">, highway track control and the&nbsp;</span><a href="http://www.iminds.be/en/research/overview-projects/p/detail/e-hip" target="_self">eHealth</a>&nbsp;p<span style="color:black">latform of the Flemish government—are based on research results from ICON
projects.</span></p>

<p><span style="color:black"></span></p>

<p><span style="color:black">The
2012 call brought a simplified procedure: first, the project consortia
participate with an extended abstract and related pitch to an expert panel.
Only after this early approval, a full proposal is written for final selection.
This two-step approach ensures low time investment up-front for preparation of
the proposal. </span></p>

<p><span style="color:black"></span></p>

<p><span style="color:black"><b>The
simplicity of the new method is useful in many ways:&nbsp;</b></span></p>

<p><span style="color:black">1) to perform a first
assessment of business ideas coming from researchers,&nbsp;</span></p>

<p><span style="color:black">2) to create a technology
transfer-oriented mindset and&nbsp;</span></p>

<p><span style="color:black">3) to prepare the researchers to build short and
concise value proposition.</span></p>

<p><span style="color:black"><br>

</span></p>

<p style="background:
white"><img src="http://app-annual-report.s3.amazonaws.com/uploads/Quote Milestone May.png" alt="Quote Milestone May.png" style="line-height: 1.5em; width: 315.5696202531646px; height: 277px; float: left; margin: 0px 10px 10px 0px;" unselectable="on"><span style="color:black"><br>

</span></p>

<p style="background:
white"><span style="color:black">"<b>We are proud that we have been able to
create a truly innovative and tangible product, which is currently being used
on the Eurostar rails for new trains. All of this thanks to the research
project we carried out with iMinds."</b></span></p>

<p style="background:
white"><span style="color: black;">(<b>Dirk Van Den Wouwer,</b> R&amp;D Manager at Televic
Rail)</span></p>

        

                </div>

                </div>
            </div>
        </div>

    </div>
</div>