<div class="md-modal md-effect-1" id="milestone-may">
    <div class="md-content">

        <button class="md-close">X</button>

        <div class="container">
            <div class="wrapper">
                <div class="jp-container">
               
                <aside class="milestone">
                    <img class="milestone" src="{{ may.milestone.url_100x100 }}" />
                    <div class="m-line"></div>
                </aside>

                <div class="o-content">
                <header>
                    <h1>A UNIQUE RESEARCH MODEL</h1>
                </header>
<p>
    ICON stands for Interdisciplinary Cooperative Research and is a rather unique research model. Companies, governments or other organizations that have identified specific needs with their users, can start a research project in collaboration with iMinds to address these needs. iMinds—along with its university research departments—then goes looking for other partners that may be interested in the research and can help carry it out. Since the start of iMinds in 2004, no less than 81 ICON projects have been completed. Numerous innovations—including <a href="http://www.scotty.be/nl/" target="_self">Scotty.be</a>, <a href="http://www.bednet.be/" target="_self">Bednet</a>, track control on highways and the <a href="http://www.iminds.be/en/research/overview-projects/p/detail/e-hip" target="_self">eHealth</a> platform (http://www.iminds.be/en/research/overview-projects/p/detail/e-hip) of the Flemish government—are based on research results from ICON projects.
</p>

<div style="position: relative; top: 30px; height: 280px;">
    <div style="width: 230px; height: 230px; border-radius: 100%; position: relative; right: -70px; border: 3px solid #b8c4ce; float: left;">
    <img src="{{ STATIC_URL }}img/other/image-dirk.png">
    </div>
    <p style="width: 57%; position: relative; left: -70px; top: 35px; text-align: left; float: right; font-size: 20px; font-style: italic;">
        "We are proud that we have been able to
create a truly innovative and tangible product, which is currently being used
on the Eurostar rails for new trains. All of this thanks to the research
project we carried out with iMinds.”

    <br><br><span style="font-size: 16px; margin-top: -70px;"><b>Dirk Van Den Wouwer, </b>R&amp;D Manager at Televic
Rail</span>
</p>

</div> 


                </div>

                </div>
            </div>
        </div>

    </div>
</div>