{% if april %}
{% for april in april %}
<section role="even" id="april" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}april{% else %}{{ april.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>04</h3>
            </header>

            <div class="line one columns"></div>
            
          

            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-left sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-right seventeen columns">
                        <h3>{{ april.title }}</h3>
                        <p>"{{ april.description }}"</p>
                        
                        <button class="go-to-article fancybox" href="#overlay-april">go to the article ></button>

                        <div id="overlay-april" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" src="{{ april.milestone.url_100x100 }}" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">{{ april.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>
            
            <div class="ss-right seventeen columns">
                <aside class="draw push_five hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ april.milestone }}" />
                    </figure>
                </aside>

            </div> 

        </div>
    </aside>



    
</div>
</aside>


    
</section>
{% endfor %}
{% else %}
{% endif %}