<section role="even" id="april" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        April
                    </h2>
                </div>
                <h3>04</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Milestone 01 -->
            <aside class="tooltip-article" style="margin-top: 11em;">
                <div class="ss-left seventeen columns">
                    <div class="wrap-text seventeen columns">
                        <div class="text arrow-right seventeen columns">
                            <h3>INNOVATIE EN ONDERNEMERSCHAP STIMULEREN</h3>
                            <p>￼iMinds stimuleert onderzoekers, ondernemers en bedrijven om te innoveren en creëert de juiste
￼omstandigheden voor succesvolle innovatie. We hebben daarbij specifieke aandacht voor de noden van startende ondernemingen en kmo's.</p>
                            
                            <a href="/nl/2012/milestone/april/" target="_blank">
                                <button class="push_eight go">go to the article</button>
                            </a>

                        </div>
                    </div>
                </div>
            </aside>
            
            <div class="ss-right seventeen columns" style="margin-top: -11em;">
                <aside class="draw push_five hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ STATIC_URL }}img/milestones/04-startup_garage.png" />
                    </figure>
                </aside>
            </div> 

            <!-- Highlight 01 -->
            <div class="ss-left four columns push_twelve">
                <aside class="hightlight-draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>
            
            <div class="ss-right seventeen columns omega" style="margin-top: -1em;">
                <aside class="tooltip-article-highlight">
                    
                        <div class="wrap-text seventeen columns">
                            <div class="text-highlight arrow-left seventeen columns">
                                
                                
                
                                <h3>Van coaching tot infrastructuur</h3>

                                <a href="/nl/2012/highlight/april/" target="_blank">
                            <button class="go">go to the article</button>
                        </a>

                            </div>
                        </div>
                    
                </aside>
            </div>
            
            <!-- Highlight 02 -->
            <div class="ss-left seventeen columns alpha" style="margin-top: 4em;">
                <aside class="tooltip-article-highlight">
                    
                        <div class="wrap-text seventeen columns text-left">
                            <div class="text-highlight arrow-right seventeen columns text-left">
                                
                                
                
                                <h3>Ghentrepreneur: Studenten worden ondernemers</h3>

                                <a href="/nl/2012/highlight-02/april/" target="_blank">
                            <button class="go">go to the article</button>
                        </a>

                            </div>
                        </div>
                    
                </aside>
            </div>

            <div class="ss-right four columns push_four" style="margin-top: 4em;">
                <aside class="hightlight-draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>
            
            

        </div>
    </aside>
</section>
