{% if april %}
{% for april in april %}
<section role="even" id="april" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}april{% else %}{{ april.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>04</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- MILESTONE -->
            <aside class="tooltip-article">
                <div class="ss-left sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-right seventeen columns">
                        <h3>{{ april.title }}</h3>
                        <p>Once again, 2012 was a busy year for iMinds. Our name change reflects both our evolution as an organization and the many new projects that we have launched. The new name also mirrors our ambition to stimulate and market basic digital technology research throughout Flanders together with our partners. In this way, we intend to gain international recognition for our region. I particularly want to take this.</p>
                        
                        <button class="go fancybox" href="#overlay-april">go to the article</button>

                        <div id="overlay-april" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" src="{{ april.milestone.url_100x100 }}" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">{{ april.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>
            
            <div class="ss-right seventeen columns">
                <aside class="draw push_five hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ april.milestone }}" />
                    </figure>
                </aside>

            </div> 

        </div>
    </aside>

    <!-- HIGHLIGHT -->
            <div class="ss-left ten columns">
                <aside class="hightlight-draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>

            <aside class="tooltip-article-highlight">
                <div class="ss-right seventeen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text-highlight arrow-left seventeen columns">
                        
                        {% include "overlays/highlights/february.html" %}
        
                        <h3>iMinds Projects per Market Segments</h3>

                        <button class="md-trigger go" data-modal="highlight-february">go to the article</button>

                        <div class="md-overlay"></div>

                    </div>
                    </div>
                </div>
            </aside>


    <!-- HIGHLIGHT -->
            <div class="ss-right ten columns">
                <aside class="hightlight-draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>

            <aside class="tooltip-article-highlight">
                <div class="ss-left seventeen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text-highlight arrow-left seventeen columns">
                        
                        {% include "overlays/highlights/february.html" %}
        
                        <h3>iMinds Projects per Market Segments</h3>

                        <button class="md-trigger go" data-modal="highlight-february">go to the article</button>

                        <div class="md-overlay"></div>

                    </div>
                    </div>
                </div>
            </aside>

    
</div>
</aside>


    
</section>
{% endfor %}
{% else %}
{% endif %}