<section role="even" id="april" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        April
                    </h2>
                </div>
                <h3>04</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Milestone 01 -->
            <aside class="tooltip-article" style="margin-top: 11em;">
                <div class="ss-left seventeen columns">
                    <div class="wrap-text seventeen columns">
                        <div class="text arrow-right seventeen columns">
                            <h3>STIMULATING INNOVATION AND ENTREPRENEURSHIP</h3>
                            <p style="text-align: right;">iMinds encourages researchers, entrepreneurs and businesses by creating ideal conditions for successful innovation. We pay specific attention to the needs of start-ups and SMEs. One of the main activities that iMinds carries out in this domain is iBoot, a series of workshops to help both iMinds' researchers and external idea owners discover the potential of their idea through hands-on training and coaching. The selected start-ups for iBoot 2012 were presented on 23rd April.</p>
                            
                            <a href="/en/2012/milestone/april/" target="_blank">
                                <button class="push_eight go">go to the article</button>
                            </a>

                        </div>
                    </div>
                </div>
            </aside>
            
            <a href="/en/2012/milestone/april/" target="_blank">
            <div class="ss-right seventeen columns" style="margin-top: -11em;">
                <aside class="draw push_five hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ STATIC_URL }}img/milestones/04-startup_garage.png" />
                    </figure>
                </aside>
            </div>
        </a>

            <!-- Highlight 01 -->
            <a href="/en/2012/highlight/april/" target="_blank">
            <div class="ss-left four columns push_thirteen">
                <aside class="hightlight-draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>
        </a>
            
            <div class="ss-right seventeen columns omega" style="margin-top: -1em;">
                <aside class="tooltip-article-highlight">
                    
                        <div class="wrap-text seventeen columns">
                            <div class="text-highlight arrow-left seventeen columns" style="margin-left: -1.5em">
                
                                <h3>From coaching to infrastructure</h3>

                                <a href="/en/2012/highlight/april/" target="_blank">
                            <button class="go">go to the article</button>
                        </a>

                            </div>
                        </div>
                    
                </aside>
            </div>
            
            <!-- Highlight 02 -->
            <div class="ss-left seventeen columns alpha" style="margin-top: 4em;">
                <aside class="tooltip-article-highlight">
                    
                        <div class="wrap-text seventeen columns text-left">
                            <div class="text-highlight arrow-right seventeen columns text-left">
                                
                                
                
                                <h3 style="text-align: right">Ghentrepreneur: Students become entrepreneurs</h3>

                                <a href="/en/2012/highlight-02/april/" target="_blank">
                            <button class="go push_eight" style="margin-left: 18em">go to the article</button>
                        </a>

                            </div>
                        </div>
                    
                </aside>
            </div>
            
            <a href="/en/2012/highlight-02/april/" target="_blank">
            <div class="ss-right four columns push_five" style="margin-top: 4em;">
                <aside class="hightlight-draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>
        </a>
            
            

        </div>
    </aside>
</section>
