<section role="odd" id="august" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header  -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        August
                    </h2>
                </div>
                <h3>08</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Highlight 01 -->
            <div class="ss-right four columns push_twenty" style="margin-top: 20em;">
                <aside class="hightlight-draw push_one hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>

            <aside class="tooltip-article-highlight seventeen columns" style="margin-top: -5em;">
                <div class="ss-left">
                    <div class="text-highlight arrow-right seventeen columns">
                        <h3>Digital challenges and opportunities in Media</h3>

                        <a href="/nl/2012/highlight/august/" target="_blank">
                            <button class="push_eight go">go to the article</button>
                        </a>

                    </div>
                </div>
            </aside>
        
        </div>
    </aside>
</section>
