{% if august %}
{% for august in august %}
<section role="odd" id="august" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}augustus{% else %}{{ august.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>08</h3>
            </header>

            <div class="line one columns"></div>
            
            <div class="ss-left ten columns" style="margin-top: 21em;">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>


            <aside class="tooltip-article-highlight hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="margin-top: 21em;">
                <div class="ss-right sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div style class="text-highlight arrow-left seventeen columns">
                        <h3>{{ august.title }} >></h3>
                        
                        <button class="go-to-article fancybox" href="#overlay-august">go to the article >></button>

                        <div id="overlay-august" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img src="{{ august.milestone.url_100x100 }}" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">{{ august.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>
        
        </div>
    </aside>
    
</section>
{% endfor %}
{% else %}
{% endif %}