<section role="even" id="december" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        December
                    </h2>
                </div>
                <h3>12</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Milestone 01 -->
            <aside class="tooltip-article" style="margin-top: 14em;">
                <div class="ss-left sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-right seventeen columns">
                        <h3>KUN JIJ 24 UUR ZONDER SOCIALE MEDIA?</h3>
                        <p>Uit de cijfers van Digimeter 2012, een onderzoeksinitiatief van iMinds-iLab.o, is gebleken dat 57% van de sociale mediagrebruikers aangeeft dat ze niet één dag zonder sociale media zouden kunnen of willen.</p>
                        
                        <a href="/nl/2012/milestone/december/" target="_blank">
                            <button class="go">ga naar het artikel</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>
            
            <a href="/nl/2012/milestone/december/" target="_blank">
            <div class="ss-right seventeen columns" style="margin-top: -11em;">
                <aside class="draw push_five hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img width="360" height="360" src="{{ STATIC_URL }}img/milestones/10-digimeter.png" />
                    </figure>
                </aside>
            </div>
        </a>

            <!-- Highlight 01 -->
            <a href="/nl/2012/highlight/december/" target="_blank">
            <div class="ss-left ten columns">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>
        </a>

            <aside class="tooltip-article-highlight">
                <div class="ss-right seventeen columns omega">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text-highlight arrow-left seventeen columns">
                        
                        <h3>iLab.o: Proeftuindiensten op maat van kmo’s</h3>

                        <a href="/nl/2012/highlight/december/" target="_blank">
                            <button class="go">gga naar het artikel</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>

        </div>        
    </aside>
</section>
