{% if december %}
{% for december in december %}
<section role="even" id="december">

    {% include "base/navigator-months.html" %}

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">{{ december.get_month_display }}</h2>
                </div>
                <h3>10</h3>
            </header>

            <div class="line one columns"></div>

            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-left push_two eighteen columns">
                    <h3>{{ december.title }}</h3>
                    <div class="text arrow-right fifteen columns">
                        <p>{{ december.description }}</p>
                        
                        <div id="rb-grid" class="rb-grid">
                            <li>
                                <button class="hi-icon">to the article ></button>
                                <div class="rb-overlay">
                                    <span class="rb-close">back to report</span>
                                    <div class="rb-week">
                                        <article>
                                            <header>
                                                <h1>{{ december.article }}</h1>
                                            </header>
                                            <aside class="">
                                                <p>{{ december.content }}</p>
                                            </aside>
                                        </article>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </aside>
            
            <div class="ss-right seventeen columns">
                <aside class="draw push_one hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ december.milestone }}" />
                    </figure>
                </aside>
            </div>

        </div>
    </aside>

<footer role="start" class="full">
        <div class="row">
            


            <div class="push_three thirty-four columns">
            <div class="seventeen columns">
            <strong>iMinds</strong> | Zuiderpoort Office Park | Gaston Crommenlaan 8 (box 102) |
            </div>
            <div class="push_three ten columns">
            B-9050 Ghent-Ledeberg | Belgium
            </div>
            </div>
        </div>
    </footer>

</section>
{% endfor %}
{% else %}
{% endif %}