<section role="even" id="december" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        December
                    </h2>
                </div>
                <h3>12</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Milestone 01 -->
            <aside class="tooltip-article" style="margin-top: 14em;">
                <div class="ss-left sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-right seventeen columns">
                        <h3>COULD YOU MAKE IT ONE DAY WITHOUT SOCIAL MEDIA?</h3>
                        <p>￼The 2012 version of Digimeter, a research initiative by iMinds-iLab.o, was launched on December 6. It revealed that 57% of social media users would not make it through one day without social media.</p>
                        
                        <a href="/en/2012/milestone/december/" target="_blank">
                            <button class="go">go to the article</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>
            
            <a href="/en/2012/milestone/december/" target="_blank">
            <div class="ss-right seventeen columns" style="margin-top: -11em;">
                <aside class="draw push_five hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img width="360" height="360" src="{{ STATIC_URL }}img/milestones/10-digimeter.png" />
                    </figure>
                </aside>
            </div>
        </a>

            <!-- Highlight 01 -->
            <a href="/en/2012/highlight/december/" target="_blank">
            <div class="ss-left ten columns">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>
        </a>

            <aside class="tooltip-article-highlight">
                <div class="ss-right seventeen columns omega">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text-highlight arrow-left seventeen columns">
                        
                        <h3>Living lab services tailored to SMEs</h3>

                        <a href="/en/2012/highlight/december/" target="_blank">
                            <button class="go">go to the article</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>

        </div>        
    </aside>
</section>
