{% if december %}
{% for december in december %}
<section role="even" id="december">

    {% include "base/navigator-months.html" %}

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">{{ december.get_month_display }}</h2>
                </div>
                <h3>10</h3>
            </header>

            <div class="line one columns"></div>

            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-left push_two eighteen columns">
                    <h3>{{ december.title }}</h3>
                    <div class="text arrow-right fifteen columns">
                        <p>{{ december.description }}</p>
                        
                        <div id="rb-grid" class="rb-grid">
                            <li>
                                <button class="hi-icon">to the article ></button>
                                <div class="rb-overlay">
                                    <span class="rb-close">back to report</span>
                                    <div class="rb-week">
                                        <article>
                                            <header>
                                                <h1>{{ december.article }}</h1>
                                            </header>
                                            <aside class="">
                                                <p>{{ december.content }}</p>
                                            </aside>
                                        </article>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </aside>
            
            <div class="ss-right seventeen columns">
                <aside class="draw push_one hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ december.milestone }}" />
                    </figure>
                </aside>
            </div>

        </div>
    </aside>

    <footer>
        <div class="row">

            <a href="#top">
                <button class="scroll-top">
                {% include "arrow-top.svg" %}
                <div class="text twelve columns">scroll to<br> top</div>
                </button>
            </a>

    
        <div class="push_two thirty-six columns">

            <h5 class="eight columns">
                <img src="{{ STATIC_URL }}img/logo-iminds-footer.png" />
            </h5>

            <p class="push_two twelve columns">
            Zuiderpoort Office Park<br>
            Gaston Crommenlaan 8 (box 102)<br>
            B-9050 Ghent-Ledeberg<br>
            Belgium<br>
            <span>Route Description</span><br><br>
            T +32 9 331 48 00<br>
            F +32 9 331 48 05<br>
            <a mailto="info@iminds.be">info@iminds.be</a>
            </p>

        </div> 
        </div>
    </footer>

</section>
{% endfor %}
{% else %}
dsfsdfsdfsfsdfsd
{% endif %}