{% if february %}
{% for february in february %}
<section role="even" id="february" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}februari{% else %}{{ february.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>02</h3>
            </header>

            <div class="line one columns"></div>
            
            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-left sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-right seventeen columns">
                        <h3>{{ february.title }}</h3>
                        <p>"{{ february.description }}"</p>
                        
                        <button class="go-to-article fancybox" href="#overlay-february">go to the article ></button>

                        <div id="overlay-february" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" class="milestone" src="{{ february.milestone.url_100x100 }}" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">{{ february.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>
            
            <div class="ss-right seventeen columns">
                <aside class="draw push_five hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img width="360" height="360" src="{{ MEDIA_URL }}{{ february.milestone }}" />
                    </figure>
                </aside>

            </div>


            <div class="ss-left ten columns">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>


            <aside class="tooltip-article-highlight hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-right sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text-highlight arrow-left seventeen columns">
                        <h3 href="#overlay-milestone-february">iMinds Projects per Market Segments</h3>

                        <button class="go-to-article fancybox" href="#overlay-highlight-february">go to the article ></button>

                        <div id="overlay-highlight-february" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" src="{{ STATIC_URL }}img/highlight.png" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">
                                <header>
                                    <h1>iMinds Projects per Market Segments</h1>
                                </header>
                                <p>When we look at the Market Segments in which ICON projects are situated, we see a clear preponderance of the media and the health sectors. Building on that expertise, iMinds founded in 2012 a Media Innovation Center – MiX – that focuses specifically on the media sector. For 2013, iMinds predicts a similar initiative for the medical and healthcare sector, given the high demand for projects in the field.</p>
                                <br><br>
                                <p><b>Approved ICON projects per market segment</b></p>
                                <img src="{{ STATIC_URL }}img/other/graph-01-hl-feb.jpg" />
                                <br><br>
                                <p class="twenty-six columns">When it comes to budgeted commitment, the ratio of investments among iMinds, External Partners and IWT (the Flemish agency for Innovation by Science and Technology) is very well balanced throughout the six market segments. It is clear, however, that the highest investment from the three parties is in Media – which justifies the launch of iMinds’ MiX, since such a high demand in the field was identified. Manufacturing has demanded the lowest number of research projects, and therefore investments, among the six. Below, you may find the investment of each contributor per market segment.</p>
                                <br><br><br><br>
                                <p class="twenty-six columns"><b>Budget commitment for ICON (2009 – 2012) by segment</b></p>
                                <br><br>
                                <img src="{{ STATIC_URL }}img/other/graph-02-hl-feb.jpg" />

                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>
            
             



        </div>
    </aside>


    
</section>
{% endfor %}
{% else %}
{% endif %}