<section role="even" id="february" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        Februari
                    </h2>
                </div>
                <h3>02</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Milestone 01 -->
            <aside class="tooltip-article" style="margin-top: 14em;">
                <div class="ss-left sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-right seventeen columns">
                        <h3>VRAAGGEDREVEN INNOVATIE MET MAXIMALE IMPACT</h3>
                        <p>iMinds wil dat haar onderzoeksprojecten maximaal ten dienste staan van concrete maatschappelijke
￼uitdagingen en de noden van Vlaamse bedrijven en organisaties. Tegelijk willen we ook inspelen
￼op de aanwezige kennis en gebruikmaken van de bestaande, goed uitgebouwde netwerken om
￼het potentieel van onze onderzoeksprojecten maximaal te valoriseren. iMinds oriënteerde haar
￼activiteiten in 2012 naar zes cruciale marktsegmenten.</p>
                        
                        <a href="/nl/2012/milestone/february/" target="_blank">
                            <button class="go">ga naar het artikel</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>
            
            <div class="ss-right seventeen columns" style="margin-top: -11em;">
                <aside class="draw push_five hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img width="360" height="360" src="{{ STATIC_URL }}img/milestones/06-new_strategies.png" />
                    </figure>
                </aside>
            </div>

            <!-- Highlight 01 -->
            <div class="ss-left ten columns">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>

            <aside class="tooltip-article-highlight">
                <div class="ss-right seventeen columns omega">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text-highlight arrow-left seventeen columns">
                        
                        <h3>iMinds Projecten per Marktsegmenten</h3>

                        <a href="/nl/2012/highlight/february/" target="_blank">
                            <button class="go">ga naar het artikel</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>
            
        </div>
    </aside>
</section>
