{% if february %}
{% for february in february %}
<section role="even" id="february" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}februari{% else %}{{ february.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>02</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- MILESTONE -->
            <aside class="tooltip-article" style="margin-top: 12em;">
                <div class="ss-left sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-right seventeen columns">
                        <h3>{{ february.title }}</h3>
                        <p>{{ february.description }}</p>
                        
                        {% include "overlays/milestones/february.html" %}
        
                        <button class="md-trigger go" data-modal="milestone-february">go to the article</button>

                        <div class="md-overlay"></div>

                    </div>
                    </div>
                </div>
            </aside>
            
            <div class="ss-right seventeen columns" style="margin-top: -11em;">
                <aside class="draw push_five hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img width="360" height="360" src="{{ MEDIA_URL }}{{ february.milestone }}" />
                    </figure>
                </aside>

            </div>

            <!-- HIGHLIGHT -->
            <div class="ss-left ten columns push_two">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>

            <aside class="tooltip-article-highlight" style="position: relative; left: 14.5em; top: -1em">
                <div class="ss-right seventeen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text-highlight arrow-left seventeen columns">
                        
                        {% include "overlays/highlights/february.html" %}
        
                        <h3>iMinds Projects by Market Segments</h3>

                        <button class="md-trigger go" data-modal="highlight-february">go to the article</button>

                        <div class="md-overlay"></div>

                    </div>
                    </div>
                </div>
            </aside>
            
        </div>
    </aside>

</section>
{% endfor %}
{% else %}
{% endif %}