{% if january %}
{% for january in january %}
<section role="odd" id="january" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <span>{{ january.report }}</span>
                <div class="ss-left">
                    <h2 class="four columns alpha">{{ january.get_month_display }}</h2>
                </div>
                <h3>01</h3>
            </header>

            <div class="line one columns"></div>
            
            <div class="ss-left eighteen columns">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ january.milestone }}" />
                    </figure>
                </aside>
            </div>            

            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-right push_two sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-left seventeen columns">
                        <h3>{{ january.title }}</h3>
                        <p>"{{ january.description }}"</p>
                        
                        <nav>
                        <div id="rb-grid" class="rb-grid">
                            <li>
                                <ul class="nav">
                                    <button class="go-to-article">go to the article ></button>
                                </ul>

                                <div class="rb-overlay">
                                    <span class="rb-close">X</span>
                                    <div class="rb-week">
                                        <article class="scrollbar">
                                            <header>
                                                <h1>{{ january.article }}</h1>
                                            </header>
                                            <aside>
                                                <p>{{ january.content|safe }}</p>
                                            </aside>
                                        </article>
                                    </div>
                                </div>
                            </li>
                        </div>
                        </nav>

                    </div>
                    </div>
                </div>
            </aside>
        
        </div>
    </aside>
    
</section>
{% endfor %}
{% else %}
{% endif %}