<section role="odd" id="january" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <span>2012</span>
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        Januari
                    </h2>
                </div>
                <h3>01</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Milestone 01 -->
            <a href="/nl/2012/milestone/january/" target="_blank">
            <div class="ss-left eighteen columns" style="margin-top: 4em;">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ STATIC_URL }}img/milestones/bike_to_the_moon.png" />
                    </figure>
                </aside>
            </div> 
            </a>           
            
            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="margin-top: 15em;">
                <div class="ss-right push_two sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-left seventeen columns">
                        <h3>INDIVIDUELE INZET VOOR EEN GROEP INSPANNING</h3>
                        <p>Het hele jaar door, iMinds stimuleert activiteiten om de samenwerking tussen de teamleden te versterken. In 2012, een van de meest ambitieuze inspanningen van het instituut van start is gegaan op 17 januari: een 356.400 kilometer fietstocht naar de maan.</p>
                        
                        <a href="/nl/2012/milestone/january/" target="_blank">
                            <button class="go">ga naar het artikel</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>
            
        </div>
    </aside>
</section>
