<section role="odd" id="january">
    
    {% if january %}
        {% for january in january %}
    {% include "navigator-months.html" %}

    <aside class="content thirty-two columns push_four">
    
        <header class="full columns">
            <div class="seven columns">
                <span class="thirty columns push_nine">{{ january.year }}</span>
                <h2 class="nineteen columns alpha">{{ january.name}}</h2>
                <h3>{{ january.number }}</h3>
            </div>
            <hr class="v-line" />
        </header>

        <aside class="draw nineteen columns alpha">
            <figure>
                <img src="{{ STATIC_URL }}img/milestones/01-rebranding.png" />
            </figure>
        </aside>

        <aside class="tooltip-article seventeen columns push_three">
            <h3>{{ january.milestone }}</h3>
            <div class="text arrow-left full columns">
                <p>{{ january.description }}</p>

                <a href="{{ january.article }}">
                    <button class="full columns alpha">to the article ></button>
                </a>
            </div>
        </aside>

    </aside>
    {% endfor %}
    {% else %}

    {% include "navigator-months.html" %}
    <aside class="content thirty-two columns push_four">
    
        <header class="full columns">
            <div class="seven columns">
                <span class="thirty columns push_nine">2012</span>
                <h2 class="nineteen columns alpha">Month</h2>
                <h3>00</h3>
            </div>
            <hr class="v-line" />
        </header>

        <aside class="draw nineteen columns alpha">
            <figure>
                <img src="{{ STATIC_URL }}img/milestones/image-milestone-example.png" />
            </figure>
        </aside>

        <aside class="tooltip-article seventeen columns push_three">
            <h3>Milestone</h3>
            <div class="text arrow-left full columns">
                <p>Add a short description of this article.</p>
                <p>You can add an Article <a href="/manager/timeline/month/add/" target="_blank">here</a></p>

                <a href="{{ month.article }}">
                    <button class="full columns alpha">to the article ></button>
                </a>
            </div>
        </aside>

    </aside>
    {% endif %}


</section>