<section role="odd" id="july" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        July
                    </h2>
                </div>
                <h3>07</h3>
            </header>

            <div class="line one columns"></div>
                
            <!-- Highlight 01 -->
            <a href="/en/2012/highlight/july/" target="_blank">
            <div class="ss-left ten columns" style="margin-top:17em">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>
        </a>

            <aside class="tooltip-article-highlight" style="margin-top: 17em">
                <div class="ss-right seventeen columns omega">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text-highlight arrow-left seventeen columns">
                        
                        
        
                        <h3 style="text-align: left">MiX Launches its first call for projects</h3>

                        <a href="/en/2012/highlight/july/" target="_blank">
                            <button class="go">go to the article</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>
        
        </div>
    </aside>
</section>
