{% if july %}
{% for july in july %}
<section role="odd" id="july" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}juli{% else %}{{ july.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>07</h3>
            </header>

            <div class="line one columns"></div>

            <div class="ss-right ten columns" style="margin-top: 21em; margin-left: 33em;">
                <aside class="hightlight-draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>


            <aside class="tooltip-article-highlight hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="position: relative; top: -5.7em; left: -10em;">
                <div class="ss-left sixteen columns">
                    
                    <div class="wrap-text twelve columns">
                    <div style class="text-highlight arrow-right twelve columns">
                        <h3 class="fancybox" href="#overlay-july">{{ july.title }}</h3>

                        <div id="overlay-july" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" src="{{ STATIC_URL }}img/highlight.png" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">{{ july.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>
        
        </div>
    </aside>


    
</section>
{% endfor %}
{% else %}
{% endif %}