{% if june %}
{% for june in june %}
<section role="odd" id="june" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}june{% else %}{{ june.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>06</h3>
            </header>

            <div class="line one columns"></div>
            
            <div class="ss-left ten columns" style="position: relative; top: 10em">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>


            <aside class="tooltip-article-highlight" style="position: relative; top: 8em; left: 4em">
                <div class="ss-right seventeen push_eight columns">
                    
                        <div style class="text-highlight arrow-left seventeen columns">



                        <h3 class="fancybox" href="#overlay-highlight-june-01">iStart.light program for student entrepreneurs: call 2012</h3>

                        <button class="md-trigger go" data-modal="milestone-january">go to the article</button>
                        
                        <div id="overlay-highlight-june-01" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" src="{{ STATIC_URL }}img/highlight.png" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">
                                <header>
                                    <h1>iStart.light program for student entrepreneurs: call 2012</h1>
                                </header>

                                <p>Flemish future entrepreneurs should get the change to start their business  That's why iMinds grants funding to student entrepreneurs via the iStart.light program - to motivate students to not only work on their project, but build a business around it.</p>


<p>In order to access these financial resources, there were a few requirements:</p>

<p>Applicants had to be students during the academic year 2012-2013
Applicants and committed team were busy with elaborating an IT project
Applicants had a proof of concept of the presented project.
 On June 20th, the 2012 call was launched and had the following outcome:</p>

                            <img src="{{ STATIC_URL }}img/other/50k.png" />
                            </div>
                        </div>

                    </div>
                </div>
            </aside>

            <div class="ss-right four push_twenty columns" style="margin-top: 15em;">
                <aside class="hightlight-draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>


            <aside class="tooltip-article-highlight" style="position: relative; top: -3em;">
                <div class="ss-left sixteen columns">
                    
                    <div class="wrap-text twelve columns">
                    <div style class="text-highlight arrow-right twelve columns">
                        <h3 class="fancybox" href="#overlay-highlight-june-02">iStart TagTagCity Rewarded!</h3>

                        <button class="md-trigger go" data-modal="milestone-january">go to the article</button>

                        <div id="overlay-highlight-june-02" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" src="{{ STATIC_URL }}img/highlight.png" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">
                                <header>
                                    <h1>iStart TagTagCity Rewarded!</h1>
                                </header>


                                <p>On June 26, TagTagCity was elected European start-up of the year at the European ICT Award 2012. The award is granted every year during the ICT Spring in Luxemburg. TagTagCity was selected on the 2012 call for the iStart project. It originates from the question of how one can smoothly bring multimedia content about a certain location to the Smartphone user.</p>

                                <iframe width="560" height="315" src="//www.youtube.com/embed/LL39BvWjLCw" frameborder="0" allowfullscreen=""></iframe>

                                <p>
                                    <img src="{{ STATIC_URL }}img/other/researcher1.png">
                                    We created a platform through which any shop owner or cultural organization can create a standardized mobile website in a way that is cost efficient. The sites are made accessible by means of a sticker with a QR code, with a shortened URL, and a built in NFC chip.”</p>

                                (Stijn Vander Plaetse, TagTagCity co-founder and initiator)
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>
        
        </div>
    </aside>


    
</section>
{% endfor %}
{% else %}
{% endif %}