<section role="odd" id="june" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        June
                    </h2>
                </div>
                <h3>06</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Highlight 01 -->
            
            <div class="ss-left ten columns" style="margin-top: 11em;">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <a href="/en/2012/highlight/june/" target="_blank">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                    </a>
                </aside>
            </div>
        

            <aside class="tooltip-article-highlight" style="margin-top: 10em;">
                <div class="ss-right seventeen columns omega">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text-highlight arrow-left seventeen columns">
                        
                        
        
                        <h3>iStart.light program for student entrepreneurs: call 2012</h3>

                        <a href="/en/2012/highlight/june/" target="_blank">
                            <button class="go">go to the article</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>
            
            <!-- Highlight 02 -->
            
            <div class="ss-right three columns push_eight" style="margin-top: 20em;">
                <aside class="hightlight-draw push_one hi-icon-effect-9 hi-icon-effect-9a">
                    <a href="/en/2012/highlight-02/june/" target="_blank">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                    </a>
                </aside>
            </div>
        

            <aside class="tooltip-article-highlight seventeen columns" style="margin-top: -6em;">
                <div class="ss-left">
                    <div class="text-highlight arrow-right seventeen columns">
                        <h3>iStart TagTagCity Rewarded!</h3>

                        

                        <a href="/en/2012/highlight-02/june/" target="_blank">
                            <button class="push_eight go">go to the article</button>
                        </a>

                    </div>
                </div>
            </aside>
        
        </div>
    </aside>    
</section>
