{% if june %}
{% for june in june %}
<section role="odd" id="june" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}june{% else %}{{ june.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>06</h3>
            </header>

            <div class="line one columns"></div>
            
            <div class="ss-left ten columns" style="margin-top: 13em;">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>


            <aside class="tooltip-article-highlight hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="margin-top: 13em;">
                <div class="ss-right sixteen columns">
                    
                    <div class="wrap-text twelve columns">
                    <div style class="text-highlight arrow-left twelve columns" style="text-align: left;">
                        <h3>Lorem ipsum dolor >></h3>
                        
                        <button class="go-to-article fancybox" href="#overlay-february">go to the article >></button>

                        <div id="overlay-february" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img src="{{ june.milestone.url_100x100 }}" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">{{ june.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>

            <div class="ss-right ten columns" style="margin-top: 15em; margin-left: -8em;">
                <aside class="hightlight-draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>


            <aside class="tooltip-article-highlight hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="position: relative; top: -15em; left: -10em;">
                <div class="ss-left sixteen columns">
                    
                    <div class="wrap-text twelve columns">
                    <div style class="text-highlight arrow-right twelve columns">
                        <h3>Lorem ipsum dolor >></h3>
                        
                        <button class="go-to-article fancybox" href="#overlay-february">go to the article >></button>

                        <div id="overlay-february" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img src="{{ february.milestone.url_100x100 }}" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">{{ february.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>
        
        </div>
    </aside>


    
</section>
{% endfor %}
{% else %}
{% endif %}