{% if march %}
{% for march in march %}
<section role="odd" id="march" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}maart{% else %}{{ march.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>03</h3>
            </header>

            <div class="line one columns"></div>
            
            <div class="ss-left eighteen columns">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ march.milestone }}" />
                    </figure>
                </aside>

            </div>            

            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-right push_two sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-left seventeen columns">
                        <h3>{{ march.title }}</h3>
                        <p>"{{ march.description }}"</p>
                        
                        <button class="go-to-article fancybox" href="#overlay-march">go to the article ></button>

                        <div id="overlay-march" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" class="milestone" src="{{ march.milestone.url_100x100 }}" />
                            <div class="m-line"></div>
                            </aside>
                            
                            <div class="o-content">{{ march.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>

            <div class="ss-right ten columns" style="position: relative; left: -17em; top: 3.4em">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>


            <aside class="tooltip-article-highlight hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-left sixteen columns" style="position: relative; top: -2em">
                    
                    <div class="wrap-text twelve columns">
                    <div class="text-highlight arrow-right twelve columns" style="relative; left: -8.3em">
                        <h3 class="fancybox" href="#overlay-highlight-march">Digital challenges and opportunities in Media</h3>

                        <div id="overlay-highlight-march" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" src="{{ STATIC_URL }}img/highlight.png" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">
                                <header>
                                    <h1>Digital challenges and opportunities in Media</h1>
                                </header>


                                <p>
                                    <img class="" src="{{ STATIC_URL }}img/other/art&d.png" />
                                    <b>ART&D</b><br>
                                    <b>Art and technology</b><br>

The iMinds Art&D program promotes cross-fertilization between art and technology. Specifically, the program provides funding for a number of art and design projects with a significant technological component. Projects should be innovative, offer creative potential and explicitly encourage interaction between artists, designers and researchers. Five projects were launched in 2012 under the theme “Augmented Cities.”</p>
<br><br><br>
<p>
    <img class="" src="{{ STATIC_URL }}img/other/viaa.png" />
    <b>VIAA</b><br>
<b>Digitizing and preserving our heritage</b><br>
iMinds has conducted several research projects in the past dealing directly with the digital preservation of our cultural heritage. The Flemish government made funds available in 2012 for the creation of VIAA—the Flemish Institute for Digital Archiving. The institute will combine the various initiatives in this field and aims to create economies of scale. Responsibility for the start-up of the initiative was assigned to iMinds. VIAA not only focuses on traditional media companies such as broadcasters, but also on cultural organizations or businesses and governments that want to digitize their archives.</p>

<br><br><br>
<p>
    <img class="" src="{{ STATIC_URL }}img/other/mediawijs.png" />
    <b>MEDIAWIJS.BE</b><br>
<b>Increasing awareness of media</b><nr>
In 2012, the Flemish government assigned the task of establishing a Media Literacy knowledge center to iMinds. The aim is to increase awareness of (new) media and provide consumers with insight into their operation. Special attention is given to specific target groups such as children, the elderly and the poor. Major topics include privacy, security, advertising, games and the digital divide.</p>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>
        
        </div>
    </aside>
    
</section>
{% endfor %}
{% else %}
{% endif %}