{% if march %}
{% for march in march %}
<section role="odd" id="march" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}maart{% else %}{{ march.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>03</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- MILESTONE -->
            <div class="ss-left eighteen columns">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ march.milestone }}" />
                    </figure>
                </aside>

            </div>            

            <aside class="tooltip-article" style="margin-top: 11em;">
                <div class="ss-right push_two sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-left seventeen columns">
                        <h3>{{ march.title }}</h3>
                        <p>{{ march.description }}</p>
                        
                        {% include "overlays/milestones/march.html" %}
        
                        <button class="md-trigger go" data-modal="milestone-march">go to the article</button>

                        <div class="md-overlay"></div>

                    </div>
                    </div>
                </div>
            </aside>

            <!-- HIGHLIGHT -->
            <div class="ss-right three columns" style="position: relative; top: 6em;">
                <aside class="hightlight-draw push_one hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>

            <aside class="tooltip-article-highlight seventeen columns" style="position: relative;">
                <div class="ss-left">
                
                    <div class="text-highlight arrow-right seventeen columns">
                        <h3>Digital challenges and opportunities in Media</h3>

                        {% include "overlays/highlights/march.html" %}

                        <button style="position: relative; -top: 5em; left: 18.8em;" class="md-trigger go" data-modal="highlight-march">go to the article</button>

                        <div class="md-overlay"></div>

                    </div>

                </div>
            </aside>
        
        </div>
    </aside>
    
</section>
{% endfor %}
{% else %}
{% endif %}