<section role="odd" id="march" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        Maart
                    </h2>
                </div>
                <h3>03</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Milestone 01 -->
            <a href="/nl/2012/milestone/march/" target="_blank">
            <div class="ss-left eighteen columns push_two">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ STATIC_URL }}img/milestones/mix_launch.png" />
                    </figure>
                </aside>
            </div>  
            </a>          

            <aside class="tooltip-article" style="margin-top: 10.5em;">
                <div class="ss-right push_one sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-left seventeen columns">
                        <h3>MEDIA, EEN SECTOR IN VOLLE VERANDERING</h3>
                        <p>iMinds helpt mediabedrijven om optimaal gebruik te maken van nieuwe digitale technologieën en die
￼aan te wenden voor het ontwikkelen van nieuwe producten en diensten. We bouwden door de jaren
￼heen al een sterke reputatie uit op dit vlak, met talloze onderzoeksprojecten die aan de basis lagen van
￼nieuwe ontwikkelingen. Nu ook met de oprichting van MiX – een innovatiecentrum voor en door de mediasector.
￼</p>
                        
                        <a href="/nl/2012/milestone/march/" target="_blank">
                            <button class="go">ga naar het artikel</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>

            <!-- Highlight 01 -->
            
            <div class="ss-right three columns" style="margin-top: 5em;">
                <aside class="hightlight-draw push_one hi-icon-effect-9 hi-icon-effect-9a">
                    <a href="/nl/2012/highlight/march/" target="_blank">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </a>
                </aside>
            </div>

            <aside class="tooltip-article-highlight seventeen columns" style="margin-top: -6em;">
                <div class="ss-left">
                    <div class="text-highlight arrow-right seventeen columns" style="margin-left: -1.2em">
                        <h3>Digitale uitdagingen én opportuniteiten</h3>

                        <a href="/nl/2012/highlight/march/" target="_blank">
                            <button class="push_eight go">ga naar het artikel</button>
                        </a>

                    </div>
                </div>
            </aside>
        
        </div>
    </aside>
</section>