<section role="odd" id="march" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        March
                    </h2>
                </div>
                <h3>03</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Milestone 01 -->
            <div class="ss-left eighteen columns">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ STATIC_URL }}img/milestones/mix_launch.png" />
                    </figure>
                </aside>
            </div>            

            <aside class="tooltip-article" style="margin-top: 10.5em;">
                <div class="ss-right push_two sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-left seventeen columns">
                        <h3>MEDIA, A SECTOR IN FULL TRANSITION</h3>
                        <p>iMinds enables media companies to make optimal use of new digital technologies and transform them into new and attractive products and services for modern consumers. Over the years, we have built a strong reputation in this area, with numerous research projects resulting in many new developments. The establishment in March 2012 of MiX—an innovation center dedicated to the media sector—became the crowning achievement for iMinds in this domain.</p>
                        
                        <a href="/nl/2012/milestone/march/" target="_blank">
                            <button class="go">go to the article</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>

            <!-- Highlight 01 -->
            <div class="ss-right three columns" style="margin-top: 5em;">
                <aside class="hightlight-draw push_one hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>

            <aside class="tooltip-article-highlight seventeen columns" style="margin-top: -6em;">
                <div class="ss-left">
                    <div class="text-highlight arrow-right seventeen columns">
                        <h3>Digital challenges and opportunities in Media</h3>

                        <a href="/nl/2012/highlight/march/" target="_blank">
                            <button class="push_eight go">go to the article</button>
                        </a>

                    </div>
                </div>
            </aside>
        
        </div>
    </aside>
</section>