<section role="odd" id="may">

    {% include "navigator-months.html" %}

    <aside class="content thirty-two columns push_four">
    
        <header class="full columns">
            <div class="seven columns">
                <h2 class="nineteen columns alpha">May</h2>
                <h3>05</h3>
            </div>
            <hr class="v-line" />
        </header>

        <aside class="draw nineteen columns alpha">
            <figure>
                <img src="{{ STATIC_URL }}img/milestones/05-istart.png" />
            </figure>
        </aside>

        <aside class="tooltip-article seventeen columns push_three">
            <h3>iStart</h3>
            <div class="text arrow-left full columns">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. sem nec elit.</p>

                <button class="full columns alpha">to the article ></button>
            </div>
        </aside>

    </aside>

</section>
