{% if may %}
{% for may in may %}
<section role="odd" id="may" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}mei{% else %}{{ may.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>05</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- MILESTONE -->
            <div class="ss-left eighteen columns" style="position: relative; top: 1em">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ may.milestone }}" />
                    </figure>
                </aside>

            </div>            

            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="position: relative; top: 10em">
                <div class="ss-right push_two sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-left seventeen columns">
                        <h3>{{ may.title }}</h3>
                        <p>"{{ may.description }}"</p>
                        
                        {% include "overlays/milestones/february.html" %}
        
                        <button class="md-trigger go" data-modal="milestone-february">go to the article</button>

                        <div class="md-overlay"></div>

                        <div id="overlay-may" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" src="{{ may.milestone.url_100x100 }}" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">{{ may.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>


            <div class="ss-right ten columns" style="position: relative; top: 16em; left: -17.7em">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>


            <aside class="tooltip-article-highlight hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="position: relative; left: -21em; top: 10em">
                <div class="ss-right sixteen columns">
                    
                    <div class="wrap-text twelve columns">
                    <div class="text-highlight arrow-right twelve columns">
                        <h3 class="fancybox" href="#overlay-highlight-may">ICON Facts & Figures</h3>

                        <button class="go-to-article fancybox" href="#overlay-may">go to the article ></button>
                        
                        <div id="overlay-highlight-may" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" src="{{ STATIC_URL }}img/highlight.png" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">
                                <header>
                                    <h1>ICON Facts & Figures</h1>
                                </header>

                                <img src="{{ STATIC_URL }}img/other/facts-01-hl-may.png" /><br><br>
                                <p class="twenty-six columns">2012 was another successful year for ICON. There were 14 new projects approved for a total
￼Budget of 27.77 million euros. In addition, there were six projects approved on the newly
￼launched MiX-ICON call - which summed alone a total budget of 6.67 million euros</p>

<p class="twenty-six columns"><b>Number of projects and budget ICON 2005 - 2012</b><br><br>
    <img src="{{ STATIC_URL }}img/other/graph-01-hl-may.png" />
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>
            
        
        </div>
    </aside>
    
</section>
{% endfor %}
{% else %}
{% endif %}