<section role="odd" id="may" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        May
                    </h2>
                </div>
                <h3>05</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Milestone 01 -->
            <div class="ss-left eighteen columns">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ may.milestone }}" />
                    </figure>
                </aside>
            </div>            

            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-right push_two sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-left seventeen columns">
                        <h3>{{ may.title }}</h3>
                        <p>{{ may.description }}</p>
                        
                        {% include "overlays/milestones/may.html" %}
        
                        <button class="md-trigger go" data-modal="milestone-may">go to the article</button>

                        <div class="md-overlay"></div>

                        <div id="overlay-may" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" src="{{ may.milestone.url_100x100 }}" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">{{ may.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>

            <!-- Highlight 01 -->
            <div class="ss-right ten columns">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>

            <aside class="tooltip-article-highlight seventeen columns">
                <div class="ss-left">
                
                    <div class="text-highlight arrow-right seventeen columns">
                        <h3>ICON facts & figures</h3>

                        {% include "overlays/highlights/may.html" %}

                        <button style="position: relative; -top: 5em; left: 18.8em;" class="md-trigger go" data-modal="highlight-may">go to the article</button>

                        <div class="md-overlay"></div>

                    </div>

                </div>
            </aside>
            
        </div>
    </aside>    
</section>
