<section role="odd" id="may" class="section-container">
    <aside class="ss-container content">
        <div class="ss-row row">
            
            <!-- Header -->
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        May
                    </h2>
                </div>
                <h3>05</h3>
            </header>

            <div class="line one columns"></div>
            
            <!-- Milestone 01 -->
            <div class="ss-left eighteen columns">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ STATIC_URL }}img/milestones/08-health_care.png" />
                    </figure>
                </aside>
            </div>            

            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="margin-top: 11em">
                <div class="ss-right push_two sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-left seventeen columns">
                        <h3>EEN UNIEKE ONDERZOEKSMODEL</h3>
                        <p>ICON staat voor Interdisciplinair Coöperatief Onderzoek en is een vrij unieke onderzoeksmodel. Bedrijven, overheden of andere organisaties die specifieke behoeften van hun gebruikers hebben geïdentificeerd, kan een onderzoeksproject gestart in samenwerking met iMinds aan deze behoeften te voorzien. De oproep 2012 opende op 2 mei en bracht een noviteit: iMinds vereenvoudigde de aanvraagprocedure door het implementeren van een aanpak in twee stappen.</p>
                        
                        <a href="/nl/2012/milestone/may/" target="_blank">
                            <button class="go">go to the article</button>
                        </a>

                    </div>
                    </div>
                </div>
            </aside>

            <!-- Highlight 01 -->
            <div class="ss-right three columns" style="margin-top: 5em;">
                <aside class="hightlight-draw push_one hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>

            <aside class="tooltip-article-highlight seventeen columns text-left" style="margin-top: -6em;">
                <div class="ss-left  sixteen columns">
                    <div class="text-highlight arrow-right seventeen columns">
                        <h3>ICON Facts & Figures</h3>

                        <a href="/nl/2012/highlight/may/" target="_blank">
                            <button class="push_eight go">go to the article</button>
                        </a>

                    </div>
                </div>
            </aside>
            
        </div>
    </aside>    
</section>
