{% if november %}
{% for november in november %}
<section role="odd" id="november" class="section-container">

    <header class="main full">
    <div class="row">

        <nav class="navigator ss-links months push_eight twenty-five columns">
            <ul>
                <li><a href="#january">jan</a></li>
                <li><a href="#february">feb</a></li>
                <li><a href="#march">mar</a></li>
                <li><a href="#april">apr</a></li>
                <li><a href="#may">may</a></li>
                <li><a href="#june">jun</a></li>
                <li><a href="#july">jul</a></li>
                <li><a href="#august">aug</a></li>
                <li><a href="#september">sep</a></li>
                <li><a href="#october">oct</a></li>
                <li><a class="selected" href="#november">nov</a></li>
                <li><a href="#december">dec</a></li>
            </ul>
        </nav>
    
    </div>
    </header>

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">{{ november.get_month_display }}</h2>
                </div>
                <h3>11</h3>
            </header>

            <div class="line one columns"></div>
            
            <div class="ss-left eighteen columns">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ november.milestone }}" />
                    </figure>
                </aside>
            </div>            

            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-right push_two sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-left seventeen columns">
                        <h3>{{ november.title }}</h3>
                        <p>"{{ november.description }}"</p>
                        
                        <nav>
                        <div id="rb-grid" class="rb-grid">
                            <li>
                                <ul class="nav">
                                    <button class="go-to-article">P</button>
                                <button class="go-to-article">I</button>
                                <button class="go-to-article">

<svg 
     width="12px" height="12px" viewBox="0 0 100 100" fill="#eee">
<path d="M5.9,9.777C5.9,4.377,10.276,0,15.676,0c1.677,0,2.74,0.438,4.61,1.182l68.577,39.9c3.189,1.89,4.666,4.927,5.236,8.428
    v0.982c-0.57,3.499-2.047,6.537-5.236,8.428L20.287,98.818c-1.871,0.746-2.934,1.182-4.61,1.182c-5.4,0-9.776-4.377-9.776-9.777
    L5.9,9.777L5.9,9.777z"/>
</svg>

                                </button>
                                <button class="go-to-article">+</button>
                                </ul>

                                <div class="rb-overlay">
                                    <span class="rb-close">X</span>
                                    <div class="rb-week">
                                        <article>
                                            <header>
                                                <h1>{{ november.article }}</h1>
                                            </header>
                                            <aside class="">
                                                <p>{{ november.content }}</p>
                                            </aside>
                                        </article>
                                    </div>
                                </div>
                            </li>
                        </div>
                        </nav>

                    </div>
                    </div>
                </div>
            </aside>
        
        </div>
    </aside>
    
</section>
{% endfor %}
{% else %}
{% endif %}