{% if september %}
{% for september in september %}
<section role="odd" id="september" class="section-container">

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">
                        {% if nl %}september{% else %}{{ september.get_month_display }}{% endif %}
                    </h2>
                </div>
                <h3>09</h3>
            </header>

            <div class="line one columns"></div>
            
            <div class="ss-left eighteen columns">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ september.milestone }}" />
                    </figure>
                </aside>

                {% if september.highlight %}
                <img class="highlight-left" src="{{ STATIC_URL }}img/highlight.png" />
                {% else %}
                {% endif %}
            </div>            

            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-right push_two sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text arrow-left seventeen columns">
                        <h3>{{ september.title }}</h3>
                        <p>{{ september.description }}</p>
                        
                        <button class="go-to-article fancybox" href="#overlay-september">go to the article ></button>

                        <div id="overlay-september" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img class="milestone" src="{{ september.milestone.url_100x100 }}" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">{{ september.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>

            <div class="ss-right ten columns" style="position: relative; left: -15.4em; top: 3em">
                <aside class="hightlight-draw push_twelve hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-highlight-draw">
                        <img src="{{ STATIC_URL }}img/highlight.png" />
                    </figure>
                </aside>
            </div>


            <aside class="tooltip-article-highlight hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-right sixteen columns">
                    
                    <div class="wrap-text seventeen columns">
                    <div class="text-highlight arrow-left seventeen columns">
                        <h3>Digital Innovation For Better And Affordable Health Care</h3>

                        <button class="go-to-article fancybox" href="#overlay-february">go to the article >></button>

                        <div id="overlay-february" style="width:820px;display: none;">
                            <aside class="milestone">
                            <img src="{{ february.milestone.url_100x100 }}" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">{{ february.content|safe }}</div>
                        </div>

                    </div>
                    </div>
                </div>
            </aside>
        
        </div>
    </aside>
    
</section>
{% endfor %}
{% else %}
{% endif %}