{% if september %}
{% for september in september %}
<section role="odd" id="september">

    {% include "base/navigator-months.html" %}

    <aside class="ss-container content">
        <div class="ss-row row">
                
            <header class="seven columns">
                <div class="ss-left">
                    <h2 class="four columns alpha">{{ september.get_month_display }}</h2>
                </div>
                <h3>09</h3>
            </header>

            <div class="line one columns"></div>
    
            <div class="ss-left eighteen columns">
                <aside class="draw hi-icon-effect-9 hi-icon-effect-9a">
                    <figure class="hi-icon-draw">
                        <img src="{{ MEDIA_URL }}{{ september.milestone }}" />
                    </figure>
                </aside>
            </div>

            <aside class="tooltip-article hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                <div class="ss-right push_one sixteen columns">
                    <h3>{{ september.title }}</h3>
                    <div class="text arrow-left fifteen columns">
                        <p>{{ september.description }}</p>
                        
                        <div id="rb-grid" class="rb-grid">
                            <li>
                                <button class="hi-icon">to the article ></button>
                                <div class="rb-overlay">
                                    <span class="rb-close">back to report</span>
                                    <div class="rb-week">
                                        <article>
                                            <header>
                                                <h1>{{ september.article }}</h1>
                                            </header>
                                            <aside class="">
                                                <p>{{ september.content }}</p>
                                            </aside>
                                        </article>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </aside>
        
        </div>
    </aside>

</section>
{% endfor %}
{% else %}
{% endif %}