<section role="start" id="start">
    <div class="fixed row">
        <div class="wrapper push_four thirty-two columns">
    
        <aside class="sixteen columns">
            <h1>
                <a class="logo">
                    iMinds - Connect Create Innovate
                </a>
            </h1>

            <button class="download thirty-eight columns alpha">
                <div class="eleven columns">
                {% include "cloud-download.svg" %}
                </div>
                <div class="text twenty-eight columns">download printable version (1,2 MB)</div>
            </button>
        </aside>

        <aside class="eighteen columns omega">
            <h3>Annual Report { year }</h3>
            <p>Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus.</p>
        </aside>
        </div>

        <a href="#january">
            <button class="down">
            {% include "arrow-down.svg" %}
            <div class="text twenty columns">scroll to<br> discover</div>
            </button>
        </a>

    <footer role="start">
        <div class="push_four thirty-two columns">
            <div class="seventeen columns">
            <strong>iMinds</strong> | Zuiderpoort Office Park | Gaston Crommenlaan 8 (box 102) |
            </div>
            <div class="push_six ten columns">
            B-9050 Ghent-Ledeberg | Belgium
            </div>
        </div>
    </footer>
</section>
