<section role="start" id="start">
    <div class="fixed row">

        <div class="push_two thirty-six columns">
        {% for report in report %}
        <aside class="fourteen columns alpha">
            <h1>
                <a class="logo">
                    iMinds - Connect Create Innovate
                </a>
            </h1> 

            <figure>
                <img src="{{ STATIC_URL }}img/ceo-iminds.png">
            </figure>
        </aside>

        <aside class="text twenty columns omega">
            <h3>Annual Report {{ report.year }}</h3>
                <div id="slider" class="slider-horizontal">
        <div class="item item-1"></div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
        <div class="item item-4"></div>
        <div class="item item-5"></div>
        <div class="item item-6"></div>
        <div class="item item-7"></div>
        <div class="item item-8"></div>
        <div class="item item-9"></div>
        <div class="item item-10"></div>
    </div>
            <p>{{ report.description|safe|truncatechars:"580" }}</p>
        </aside>
        {% endfor %}

  




        <button class="push_three download sixteen columns">
                <div class="four columns">
                {% include "cloud-download.svg" %}
                </div>
                <div class="text ten columns">
                    <a href="{{ report.pdf.url }}" target="_blank">download printable version ({{ report.pdf.size|filesizeformat }})</a></div>
            </button> 
        </div>

         

    </div>

    <a href="#january">
                <button class="down push_sixteen">
                {% include "arrow-down.svg" %}
                <div class="text two columns">scroll to<br> discover</div>
                </button>
            </a>
            

</section>
