<section role="start" id="start">
    <div class="fixed row">
        <div class="wrapper push_five thirty columns">
        
        {% if report %}
        {% for report in report|slice:":1" %}
        <aside class="sixteen columns">
            <h1>
                <a class="logo">
                    iMinds - Connect Create Innovate
                </a>
            </h1>

            <button class="download thirty-eight columns alpha">
                <div class="eleven columns">
                {% include "cloud-download.svg" %}
                </div>
                <div class="text twenty-eight columns">download printable version {{ report.pdf.size }}</div>
            </button>
        </aside>

        <aside class="eighteen columns omega">
            <h3>Annual Report {{ report.year }}</h3>
            <p>{{ report.description }}</p>
        </aside>
        {% endfor %}
        {% else %}
        Add a report <a href="/manager/timeline/report/add/">here.</a>
        {% endif %}
        </div>

        <a href="#january">
            <button class="down">
            {% include "arrow-down.svg" %}
            <div class="text twenty columns">scroll to<br> discover</div>
            </button>
        </a>
        
    <footer role="start">
        <div class="push_four thirty-two columns">
            <div class="seventeen columns">
            <strong>iMinds</strong> | Zuiderpoort Office Park | Gaston Crommenlaan 8 (box 102) |
            </div>
            <div class="push_six ten columns">
            B-9050 Ghent-Ledeberg | Belgium
            </div>
        </div>
    </footer>
</section>
