<a href="#january" class="button-down two columns">
    <div class="old">
        {% if nl %}<span style="margin-left: -23px">scroll naar beneden</span>
            {% else %}<span>scroll down</span>{% endif %}<br>
        {% include "svg/arrow_down-old.svg" %}
    </div>

    <div class="new">
        {% if nl %}<span style="margin-left: -30px">scroll naar beneden</span>
            {% else %}<span>scroll down</span>{% endif %}<br>
        {% include "svg/arrow_down-new.svg" %}
    </div>
</a>

<footer>
    <div class="row">
	    <div class="push_two thirty-six columns alpha">

	        <div class="seven columns">
	            <div class="two columns">© iMinds |</div> <a href="mailto:info@iminds.be">info@iminds.be</a>
	        </div>

	        <div class="twenty-eight columns omega">Zuiderpoort Office Park Gaston Crommenlaan 8 (box 102) B-9050 Ghent-Ledeberg Belgium - <a href="http://www.iminds.be/userfiles/files/Route%20description%20EN.pdf" target="_blank">{% if nl %}Routebeschrijving{% else %}Route Description{% endif %}</a> f t l</div>
	        
	    </div>
	</div>
</footer>