<header class="main push_ten twenty columns">
    <nav class="months">
        <ul>
        <li class="skiplink active">
            <a href="#" gumby-goto="#january">jan</a>
        </li>

        <li class="skiplink">
            <a href="#" gumby-goto="#february">feb</a>
        </li>

        <li class="skiplink">
            <a href="#" gumby-goto="#march">mar</a>
        </li>

        <li class="skiplink">
            <a href="#" gumby-goto="#april">apr</a>
        </li>

        <li class="skiplink">
            <a href="#" gumby-goto="#may">may</a>
        </li>

        <li class="skiplink">
            <a href="#" gumby-goto="#june">jun</a>
        </li>

        <li class="skiplink">
            <a href="#" gumby-goto="#july">jul</a>
        </li>

        <li class="skiplink">
            <a href="#" gumby-goto="#august">aug</a>
        </li>

        <li class="skiplink">
            <a href="#" gumby-goto="#september">sep</a>
        </li>

        <li class="skiplink">
            <a href="#" gumby-goto="#october">oct</a>
        </li>

        <li class="skiplink">
            <a href="#" gumby-goto="#november">nov</a>
        </li>

        <li class="skiplink">
            <a href="#" gumby-goto="#december">dec</a>
        </li>
        </ul>
    </nav>
</header>