<header class="main full">
    <div class="row">

        <nav class="navigator ss-links months push_eight twenty-five columns">
            <ul>
                <li><a href="#january">jan</a></li>
                <li><a href="#february">feb</a></li>
                <li><a href="#march">mar</a></li>
                <li><a href="#april">apr</a></li>
                <li><a href="#may">may</a></li>
                <li><a href="#june">jun</a></li>
                <li><a href="#july">jul</a></li>
                <li><a href="#august">aug</a></li>
                <li><a href="#september">sep</a></li>
                <li><a href="#october">oct</a></li>
                <li><a href="#november">nov</a></li>
                <li><a href="#december">dec</a></li>
            </ul>
        </nav>
    
    </div>
</header>