<div id="slider-wrap" class="nineteen">
    
    <div id="slider" class="slider-horizontal">

        <div class="item item-1">
            <a href="#january">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/01-rebranding_small.png" />
                </figure>
            </a>
        </div>

        <div class="item item-2">
            <a href="#february">
                <figure>
                <img src="{{ STATIC_URL }}img/milestones/02-mix_launch_small.png" />
                </figure>
            </a>
        </div>

        <div class="item item-3">
            <a href="#march">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/03-creative_media_days_small.png" />
                </figure>
            </a>
        </div>

        <div class="item item-4">
            <a href="#april">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/04-startup_garage_small.png" />
                </figure>
            </a>
        </div>

        <div class="item item-5">
            <a href="#may">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/05-12_companies.png" />
                </figure>
            </a>
        </div>

        <div class="item item-6">
            <a href="#june">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/06-new_strategies_small.png" />
                </figure>
            </a>
        </div>

        <div class="item item-7">
            <a href="#july">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/07-year_changes.png" />
                </figure>
            </a>
        </div>

        <div class="item item-8">
            <a href="#august">
                <figure>
                <img src="{{ STATIC_URL }}img/milestones/08-health_care.png" />
                </figure>
            </a>
        </div>

        <div class="item item-9">
            <a href="#september">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/09-icon.png" />
                </figure>
            </a>
        </div>

        <div class="item item-10">
            <a href="#october">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/10-digimeter.png" />
                </figure>
            </a>
        </div>
    </div>

    <div id="blur-left"></div>
    <div id="blur-right"></div>

</div>