<div class="row">
<div id="slider-wrap" class="push_two thirty-six columns">
    
    <div id="slider" class="slider-horizontal ">

        <div class="item item-1">
            <a href="#january">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/small/07-year_changes.small.png" />
                    
                </figure>
            </a>
        </div>

        <div class="item item-2">
            <a href="#february">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/small/06-new_strategies.small.png" />
                
                </figure>
            </a>
        </div>

        <div class="item item-3">
            <a href="#march">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/small/02-mix_launch.small.png" />
                    
                </figure>
            </a>
        </div>

        <div class="item item-4">
            <a href="#april">
                <figure>

                    <img src="{{ STATIC_URL }}img/milestones/small/04-startup_garage.small.png" />
                </figure>
            </a>
        </div>

        <div class="item item-5">
            <a href="#september">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/small/08-health_care.small.png" />
                    
                </figure>
            </a>
        </div>

        <div class="item item-6">
            <a href="#may">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/small/09-icon.small.png" />

                    
                    
                </figure>
            </a>
        </div>

        <div class="item item-7">
            <a href="#milestone-02-oct">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/small/01-rebranding.small.png" />
                    
                </figure>
            </a>
        </div>

        <div class="item item-8">
            <a href="#november">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/small/03-creative_media_days.small.png" />
                    
                </figure>
            </a>
        </div>

        <div class="item item-9">
            <a href="#october">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/small/05-12_companies.small.png" />
                </figure>
            </a>
        </div>

        <div class="item item-10">
            <a href="#december">
                <figure>
                    <img src="{{ STATIC_URL }}img/milestones/small/10-digimeter.small.png" />
                </figure>
            </a>
        </div>
    </div>

    <div class="blur-left"></div>
    <div class="blur-right"></div>

</div>
</dvi>