<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>iMinds, a world-class strategic research center</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}new/favicon.png" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" href="{{ STATIC_URL }}new/css/style.css">

    <script src="{{ STATIC_URL }}new/js/libs/modernizr-2.6.2.min.js"></script>
</head>

<body>
    
    <section role="highlight" class="row">
        
        <header>
            <h1>
                <img src="{{ STATIC_URL }}new/img/highlight.png" />
            </h1>

            <hr />
        </header>

        <h2>iMinds, a world-class strategic research center</h2>
        
        <p>&nbsp;</p><h3>PARTNERSHIPS</h3>
     <p><strong>iMinds strengthens partnerships with universities 
     </strong></p>
     <p>In 2012, iMinds renewed its cooperation agreements with the five Flemish universities:
Ghent University, Free University of Brussels, University of Antwerp, Hasselt University and Catholic University of Leuven. The renewed agreements ensure an increased uniformity in the cooperation with universities. This makes it easier to initiate research projects and creates a clear framework for all of the partners involved.

     </p>
     <h3>RESEARCH</h3>
     <p><strong>Active in advanced research
     </strong></p>
     <p>The iMinds research departments are at the forefront of the national and international research community. As an example, the Future Media & Imaging research department is a key partner
in the SIMRET project. This program is currently developing a new medical imaging technique for a hybrid scanner that can make SPECT and MR images simultaneously, leading to more accurate diagnoses of patients. This is just one of the many examples of how iMinds researchers contribute to a better world for everyone.

     </p>
        <p><img src="{{ STATIC_URL }}new/img/Highlight 2 October img 1.png" style="float:left; margin-right:20px; margin-bottom:25px;"/></p><h3>CAF</h3>
     <p><strong>iMinds advises the European Commission
     </strong></p>
     <p>iMinds acquired an important place on the European stage in 2012. iMinds CEO Wim De Waele was elected as a member of the European Connect Advisory Forum (CAF). The CAF advises the Vice-President of the European Commission, Neelie Kroes, on the Commission’s research and innovation activities in communication networks, computer systems, digital content and related technologies. The CAF consists of twenty experts from various countries.
     </p>
     
     <img src="{{ STATIC_URL }}new/img/Highlight 2 October img 2.png" style="float:left; margin-right:20px; margin-bottom:25px;"/><h3>KIC ICT LABS</h3>
     <p><strong>Supporting European entrepreneurship in digital innovation 
     </strong></p>
     <p>In late 2012, iMinds became Associate Partner of the Knowledge and Innovation Community (KIC) ICT Labs of the European Institute for Innovation and Technology (EIT). EIT ICT Labs combines education, research and industry in a European ecosystem of entrepreneurs. Their aim is to turn Europe into a world leader in ICT innovation. The membership offers iMinds many opportunities to strengthen its international presence.
     </p>
     <img src="{{ STATIC_URL }}new/img/Highlight 2 October img 3.png" style="float:left; margin-right:20px; margin-bottom:25px;"/><h3>LIVING LABS</h3>
     <p><strong>iMinds coordinates European Network of Living Labs 
     </strong></p>
     <p>In 2012, iMinds was re-elected as European secretary of the European Network of Living Labs (ENoLL), the international federation of recognized Living Labs in Europe and the rest of the world. A living lab is a real life test and experimentation environment where users and producers create innovations together. ENoLL today unites more than 300 labs worldwide, of which 30 are active at the European level.
     </p>
     
     
    </section>
    <br /><br />



    <!-- Grab Google CDN's jQuery, fall back to local if offline -->
    <!-- 2.0 for modern browsers, 1.10 for .oldie -->
    <script>
        var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
            if(!oldieCheck) {
                document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
            } else {
                document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
            }
        </script>
        <script>
        if(!window.jQuery) {
            if(!oldieCheck) {
                document.write('<script src="{{ STATIC_URL }}new/js/libs/jquery-2.0.2.min.js"><\/script>');
            } else {
                document.write('<script src="{{ STATIC_URL }}new/js/libs/jquery-1.10.1.min.js"><\/script>');
            }
        }
    </script>

    <script src="{{ STATIC_URL }}new/js/libs/gumby.min.js"></script>
    <script src="{{ STATIC_URL }}new/js/plugins.js"></script>

    <script src="{{ STATIC_URL }}new/js/main.js"></script>

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
     chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

</body>
</html>
