/* oi
========================================================================== */
section[role="home"] aside.text {
	height: 26em;
	color: @black;
	top: 11.1em;
	margin-right: 50px;
    -moz-animation-name: asideRight;
    -moz-animation-iteration-count: once;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 1.2s;

    -webkit-animation-name: asideRight;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1.2s;

    .relative;
}
section[role="home"] aside.text {
	text-shadow: 1px 1px 0 #fff;
	max-height: 13em;

}
	section[role="home"] aside.text p {
		line-height: 1.8em;
		font-size: 12px;
	}
	section[role="home"] aside.text h3 {
		margin-top: 29px;
		margin-bottom: 164px;
	}

section[role="odd"] aside.content .text,
section[role="even"] aside.content .text {
	background: none;
	height: 270px;
	color: @black;
	padding: 10px 30px 30px 30px;
	.transition-basic;
}
section[role="odd"] aside.content .text-highlight,
section[role="even"] aside.content .text-highlight {
	background: none;
	height: 110px;
	color: @black;
	padding: 10px 30px 30px 30px;
	.transition-basic;
}
section[role="odd"] aside.content .text {
	border-left: 2px solid @gray-hard;
}
section[role="odd"] aside.content .text-highlight {
	border-right: 2px solid @gray-hard;
}
section[role="odd"]#july aside.content .text-highlight {
	border-left: 2px solid @gray-hard;
}
section[role="odd"].new aside.content .text {
	border-left: 2px solid @gray-tiny;
}
section[role="even"] aside.content .text-highlight {
	border-left: 2px solid @gray-hard;
}
section[role="even"] aside.content .text {
	border-right: 2px solid @gray-hard;
}
section[role="even"].new aside.content .text {
	border-right: 2px solid @gray-tiny;
}
section[role="even"].new aside.content .text-highlight {
	border-left: 2px solid @gray-tiny;
}
section[role="odd"] aside.content .text {
	.align-left;
}
section[role="even"] aside.content .text {
	.align-right;
}
section[role="odd"] aside.content .text:hover {
	margin-left: 20px;
}
section[role="even"] aside.content .text:hover {
	margin-left: -20px;
}

aside.content .text p {
	font-size: 16px;
	.open-sans-condensed;
	.italic;
}

/* ==========================================================================
Section: ''.
Aside: 'draw';
========================================================================== */
aside.draw {
	width: 400px;
	height: 400px;
	margin-top: 8em;
	margin-left: 0;
}

/* other need refactoring */
section[role="odd"] aside.tooltip-article,
section[role="even"] aside.tooltip-article {}
	section[role="odd"] aside.tooltip-article h3,
	section[role="even"] aside.tooltip-article h3 {
		font-size: 28px;
		color: @black;
		margin-bottom: 0.75em;
		.relative;
		.open-sans-condensed;
		.uppercase;
		.bold;
		letter-spacing: 2px;
	}

	section[role="odd"] aside.tooltip-article h3 {
		.align-left;
	}
	section[role="even"] aside.tooltip-article h3 {
		.align-right;
	}

section[role="odd"] aside.tooltip-article-highlight,
section[role="even"] aside.tooltip-article-highlight {}
	section[role="odd"] aside.tooltip-article-highlight h3,
	section[role="even"] aside.tooltip-article-highlight h3 {
		font-size: 22px;
		color: @black;
		margin-bottom: 0.75em;
		.relative;
		.open-sans-condensed;
		.uppercase;
		.bold;
		letter-spacing: 2px;
	}

	section[role="odd"] aside.tooltip-article-highlight h3 {
		.align-right;
	}
	section[role="even"] aside.tooltip-article-highlight h3 {
		.align-left;
	}

.highlight-left {
	.relative;
	top: -6.4em;
	z-index: 9;
	border: 3px solid @white;
	.radius-full;
	background: @white;
}
.highlight-right {
	.relative;
	left: 410px;
	top: -6.4em;
	z-index: 9;
	border: 3px solid @white;
	.radius-full;
	background: @white;
}
section[role="odd"]#july .ss-right .text-highlight {
	border-left: 3px solid @white!important;
	text-align: left!important;
}
section[role="even"]#april .ss-left .text {
	border-right: 3px solid @white!important;
	text-align: left!important;
}
section[role="odd"]#may .ss-right .text-highlight {
	border-right: 3px solid @white!important;
	text-align: left!important;
}
section[role="odd"]#march .ss-left .text-highlight {
	border-right: 3px solid @white!important;
	text-align: left!important;
}
section[role="odd"]#july .ss-left .text-highlight {
	border-right: 3px solid @white!important;
	text-align: left!important;
}
section[role="odd"]#june .ss-right .text-highlight {
	border-left: 3px solid @white!important;
	text-align: left!important;
}
section[role="odd"]#june .ss-left .text-highlight {
	border-right: 3px solid @white!important;
	text-align: left!important;
}
section[role="odd"]#august .ss-right .text-highlight {
	border-left: 3px solid @white!important;
	text-align: left!important;
}