/* ==========================================================================
Section: 'start'
========================================================================== */
section[role="start"] footer {
	width: 100%;
	height: 3em;
	padding-top: 0.5em;
	bottom: 0;
	background: @pink;
	color: @white;
	.font-size-tiny;
	.helvetica-neue;
	.bold;
	.fixed;	
}

/* ==========================================================================
Section: 'even > #december'
========================================================================== */
section[role="even"]#december footer {
	height: 22em;
	padding: 2em 0;
	top: 32em;
	background: @white;
	.relative;
	.both;
}
	section[role="even"]#december footer
		h1 a.logo {
			height: 1.7em;
			text-indent: -9999px;
			background: url('../img/logo-iminds-footer.png') no-repeat;
			.block;
			.hidden;
		}
	section[role="even"]#december footer
		p {
			color: @black;
			line-height: 1.6em;
			.font-size-normal;
			.bold;
		}
		section[role="even"]#december footer
			p span {
			color: @pink;
		}
