/* ==========================================================================
Section: 'start'
========================================================================== */
section[role="home"] footer {
	width: 100%;
	height: 30px;
	padding-top: 3px;
	z-index: 0;
	bottom: 0;
	background: @white;
	border-top: 1px solid @gray-hard;
	color: @gray-hard;
	font-size: 10px;
	.helvetica-neue;
	.bold;
	.fixed;
	box-shadow: 0 5px 60px @gray-hard;
}
	section[role="home"] footer a {
		color: #a2adb6;
		border-bottom: 1px solid @gray-hard;
	}
section[role="list"] footer {
	width: 100%;
	height: 3em;
	padding-top: 0.5em;
	bottom: 0;
	letter-spacing: 1px;
	background: @gray-tiny;
	border-top: 1px solid @gray-hard;
	color: @black;
	font-size: 12px;
	.helvetica-neue;
	.fixed;	
}
section[role="list"] footer a {
	color: @black;
	.bold;
	font-size: 11px;
}
