/* MONTHS
=================================== */
nav.months {
	font-size: 17,5pt;
	z-index: 9;
	.relative;
	.uppercase;
	.bold;
}
	nav.months ul {
		list-style: none;
		margin-top: 10px;
	}
		nav.months ul li { .left }
			nav.months ul li a {
				width: 38px;
				height: 0;
				padding: 0 0 20px 0;
				margin: 0 14px 0 0;
				top: 2px;
				font-size: 12px;
				line-height: 20px;
				color: @gray-hard;
				.relative;
				.align-center;
				.block;
				.radius;
				.transition-fast;
			}
				nav.months ul li a:hover {
					font-size: 16px;
				}
				nav.months ul li a.selected {
					font-size: 16px;
					color: @pink;
				}

/* LANGUAGE
=================================== */
nav.language {
	width: 52px;
	height: 20px;
	font-size: 12px;
	right: 0;
	.absolute;
}
nav.language ul li {
	width: 20px;
	height: 20px;
	margin-right: 6px;
	.align-center;
	.block;
	border-radius: 0 0 4px 4px;
	.left;
	background: @white;
}
nav.language ul li:hover,
nav.language ul li.active {
	background: @gray-hard;
}
nav.language ul li:hover a,
nav.language ul li.active a {
	color: @white;
}
nav.language ul li a {
	color: @gray-hard;
	.bold;
}
