/* ==========================================================================
Section: Generals
========================================================================== */
section[role="start"] {
	height: 39em;
}
section[role="odd"],
section[role="even"] {
	height: 42em;
}
section[role="home"],
section[role="odd"],
section[role="even"] {
	color: @white;
	z-index: 9;
	.relative;
}
/* ==========================================================================
Section: Statrt; etc etc
========================================================================== */
section[role="start"] {
	padding-top: 30px;
	background: @white;
}
/* ==========================================================================
Section: odd, even; etc etc
========================================================================== */
section[role="odd"] {
	background: @gray-hard;
}
section[role="even"] {
	background: @gray-tiny;
}

/* ==========================================================================
Exceptions?
========================================================================== */
section[role="even"]#december {
	height: 60em;
}