/* ==========================================================================
Section: Generals
========================================================================== */
section[role="home"],	
section[role="odd"],
section[role="even"],
section[role="list"] {
	height: 100%;
	.relative;
}
section[role="odd"],
section[role="even"] {
	padding: 0;
	height: 99.8%;
	z-index: 2;
}
section[role="home"],
section[role="odd"],
section[role="even"] {
	color: @white;
	.relative;
}
section[role="home"] {
	border-top: 3px solid @gray-hard;
}
/* ==========================================================================
Section: odd, even; etc etc
========================================================================== */
section[role="odd"]#january {
	box-shadow: inset 0 8px 200px @gray-hard;
}
section[role="even"] {
	box-shadow: inset 0 4px 120px @gray-hard;
	background: url('../img/noise.png') @white;
}
section[role="odd"] {
	box-shadow: inset 0 4px 200px @gray-hard;
	background: url('../img/noise.png') @gray-tiny;
}

section[role="odd"].old,
section[role="even"].old {
	background: url('../img/noise.png') @white;
	.transition-normal;
}
section[role="odd"].new,
section[role="even"].new {
	box-shadow: inset 0 0 100px @black!important;
	background: url('../img/noise.png') @gray-hard;
	.transition-normal;
}
div.wrapper-months {
	.fixed;
}
/* ==========================================================================
Exceptions?
========================================================================== */
section[role="home"] figure.iminds-ceo {
    .relative;

    -moz-animation-name: dropFigure;
    -moz-animation-iteration-count: once;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 1.3s;

    -webkit-animation-name: dropFigure;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1.3s;
}
	section[role="home"] figure.iminds-ceo img {
		top: 11.2em;
		border: 2px solid @white;
		box-shadow: -3px 5px 0 @gray-hard;
		.radius-full;
		.relative;
	}
		section[role="home"] figure.iminds-ceo:hover img {
			box-shadow: -2px 3px 0 @pink;
		}
	section[role="home"] figure.iminds-ceo figcaption {
		font-size: 13px;
		color: @black;
		top: 14.5em;
		.relative;
		.bold;
		.italic;
		.align-center;
		.transition-basic;
	}
