button.home {
	height: 60%;
	padding: 0.5% 0 1% 0;
	background: @gray-tiny;
}
button.home:hover {
	background: @gray-hard;
}
.button-down {
	top: 86%;
	left: 46.75%;
	.fixed;
	.block;
	z-index: 1;

	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
}
	.button-down:hover {
		top: 88%;

		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		transition: all 0.8s;
	}
		.button-down div.new span {
			font-size: 13px;
			top: 0;
			left: -13px;
			color: @pink;
			.transition-basic;
			.uppercase;
			.bold;
			.left;
			.relative;
			.block;

			-webkit-transition: all 0.8s;
			-moz-transition: all 0.8s;
			transition: all 0.8s;
		}
		.button-down div.old span {
			font-size: 12px;
			top: 2px;
			left: -12px;
			color: @gray-hard;
			.uppercase;
			.bold;
			.left;
			.relative;
			.block;
		}
		.button-down div.new svg path {
			fill: @gray-hard;
		}
.button-down div.new,
.button-down:hover div.old {
	display: none;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
}
.button-down:hover div.new span {
	background: @gray-hard;
	color: @white;
	.transition-basic;
	margin-top: -6px;
	border-radius: 3px;
	padding: 0 8px;
	margin-left: -8px;
}
.button-down:hover div.new,
.button-down div.old {
	display: block;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
}
button.select-month {
	width: 100px;
	height: 38px;
	border-radius: 6px;
	background: @gray-hard!important;
	float: right;
}
button.go {
	height: 36px;
	color: @white;
	border-radius: 6px;
	font-size: 12px;
	.uppercase;
	background: @gray-hard
}


button.download {
	height: 32px;
	padding: 0 0 0 6px;

	top: 24.2em;
	left: 260px;
	letter-spacing: 2px;

	background: #d90081; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5MDA4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZTAwOTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #d90081 0%, #fe0097 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d90081), color-stop(100%,#fe0097)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d90081 0%,#fe0097 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d90081 0%,#fe0097 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d90081 0%,#fe0097 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d90081 0%,#fe0097 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d90081', endColorstr='#fe0097',GradientType=0 ); /* IE6-8 */

	box-shadow: 2px 2px #c20073;
	
	.open-sans-condensed;
	.align-center;
	.radius;
	.uppercase;
	.absolute;
}
	button.download a {
		color: @white;
		font-size: 11px!important;
	}

	button.download:hover {
		background: #fe0097; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlMDA5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOTAwODEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #fe0097 0%, #d90081 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe0097), color-stop(100%,#d90081)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fe0097 0%,#d90081 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fe0097 0%,#d90081 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fe0097 0%,#d90081 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fe0097 0%,#d90081 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0097', endColorstr='#d90081',GradientType=0 ); /* IE6-8 */

		box-shadow: 2px 2px #c20073;
		-webkit-transition: all 0.8s;
		transition: all 0.8s;
	}
		button.download:hover a {
			color: @white;
			text-shadow: 1px 1px 0 #c20073;
		}
	button.download:active {
		-webkit-box-shadow: inset 0 0 20px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:  inset  2px 4px 0 rgba(50, 50, 50, 0.5);
		box-shadow:      inset   0 0 20px rgba(50, 50, 50, 0.5);
		border: 2px solid @white;
		border-radius: 5px;
	}









		section[role="even"] button.scroll-top {
		height: 100px;
		.relative;
		z-index: 9;
		top: -60px;
		left: 338px;
		border: none;
		color: @white;
	}
	section[role="even"] button.scroll-top svg {
		border: none;
		border-radius: 0;
	}
		section[role="even"] button.scroll-top .text {
			.relative;
			.open-sans-condensed;
			color: @white;
			top: -4.3em;
			left: -10px;
			line-height: 1em;
			height: 2.8em;
		}