button.download {
	margin-top: -3.5em;
	height: 4em;
	background: @pink;
	color: @white;
	.radius;
}
	button.download a {
		color: @white;
	}
	button.download .text {
		margin-top: 0.7em;
		font-size: 1.2em;
		margin-left: -0.3em;
	}

	section[role="start"] button.down {
		height: 10em;
		z-index: 9;
		top: -30px;
		left: 9px;
		border: none;
		color: @white;
		.absolute;
	}
		section[role="start"] button.down .text {
			.relative;
			.open-sans-condensed;
			color: @white;
			top: -3em;
			left: 23%;
			height: 2.8em;
			line-height: 1em;
		}

		section[role="even"] button.scroll-top {
		height: 100px;
		.relative;
		z-index: 9;
		top: -60px;
		left: 338px;
		border: none;
		color: @white;
	}
	section[role="even"] button.scroll-top svg {
		border: none;
		border-radius: 0;
	}
		section[role="even"] button.scroll-top .text {
			.relative;
			.open-sans-condensed;
			color: @white;
			top: -4.3em;
			left: -10px;
			line-height: 1em;
			height: 2.8em;
		}