/* ==========================================================================
General: 'body'etc;
========================================================================== */
body {
background: @white;
}

a {
.decoration-none;
}

p {
.helvetica-neue;
font-weight: 300;
}
h3 {
.open-sans-condensed;
}

section[role="start"] h3 {
font-size: 2.3em;
.uppercase; 
}
section[role="start"] p {
.font-size-normal;
}

.arrow-color { background: @white }

@white: #ffffff;

@gray-tiny: rgb(239,242,245);

@gray-hard: #b8c4ce;

@green: #65be5d;



@black: #404040;


@gray-medium: #cccccc;
@gray-low: #eeeeee;

@social-facebook: #3B589D;
@twitter: #fc0;
@twitter: #33CCFF;
@social-issuu: #FF6700;
@flickr-pink: #DA1593;
@flickr-blue: #0059D4;

@color-musica: #D6E700;
@color-literatura: #d3ad7f;
@color-arte: #4DC2F7;
@color-cinema: #fe0002;

.bold { font-weight: bold; }
.upper { text-transform: uppercase; }
.italic { font-style: italic; }

@white: #ffffff;

@purple: #403d98;
@purple-tiny: #7671b4;

@blue: #00b4f1;
@blue-tiny: #5acbed;

@green: #6ebe4d;
@green-tiny: #90cd80;

@yellow: #fcb029;
@yellow-tiny: #fdc46d;

@red: #ef5148;
@red-tiny: #f57d6c;

@pink: #ec008c;
@pink-tiny: #ee5ba1;
