<div class="md-modal md-effect-1" id="highlight-february">
    <div class="md-content">

        <button class="md-close">X</button>

        <div class="container">
            <div class="wrapper">
                <div class="jp-container">
               
                <aside class="milestone">
                            <img class="milestone" src="{{ STATIC_URL }}img/highlight.png" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">
                                <header>
                                    <h1>iMinds Projects by Market Segments</h1>
                                </header>
                                <p>When we look at the Market Segments in which ICON projects are situated, we see a clear preponderance of the media and the health sectors. Building on that expertise, iMinds founded in 2012 a Media Innovation Center – MiX – that focuses specifically on the media sector. For 2013, iMinds predicts a similar initiative for the medical and healthcare sector, given the high demand for projects in the field.</p>
                                <br><br>

                                <div style="with: 600px; margin-left:100px;">
                                <p class="push_five"><b>Approved ICON and MiX-ICON projects per market segment</b></p>
                                <img style="position: relative; left: 30px;" width="80%" height="80%" src="{{ STATIC_URL }}img/other/graph-01-hl-feb.jpg" />
                                </div>

                                <br><br>
                                <p class="twenty-six columns">When it comes to budgeted commitment, the ratio of investments among iMinds, External Partners and IWT (the Flemish agency for Innovation by Science and Technology) is very well balanced throughout the six market segments. It is clear, however, that the highest investment from the three parties is in Media – which justifies the launch of iMinds’ MiX, since such a high demand in the field was identified. Manufacturing has demanded the lowest number of research projects, and therefore investments, among the six. Below, you may find the investment of each contributor per market segment.</p>
                                <br><br><br><br><br><br>

                                <div style="with: 600px; margin-left:100px;">
                                <p class="twenty columns push_six"><b>Budget commitment for ICON (2009 – 2012) by segment</b></p>
                                <img style="position: relative; left: 60px;" width="80%" height="80%" src="{{ STATIC_URL }}img/other/graph-02-hl-feb.jpg" />
                                </div>
                            </div>

                </div>
            </div>
        </div>

    </div>
</div>