<div class="md-modal md-effect-1" id="highlight-march">
    <div class="md-content">

        <button class="md-close">X</button>

        <div class="container">
            <div class="wrapper">
                <div class="jp-container">
               
                    <aside class="milestone">
                    <img class="milestone" src="{{ STATIC_URL }}img/highlight.png" />
                    <div class="m-line"></div>
                    </aside>

                    <div class="o-content">
                        <header>
                            <h1>Digital challenges and opportunities in Media</h1>
                        </header>

                          <p>
                                    <img class="" src="{{ STATIC_URL }}img/other/art&d.png" style="float: left;" />
                                    
<div style="width: 670px; height: 200px; float: right;">
    <b>ART&D</b><br>
    <b>Art and technology</b><br>
The iMinds Art&D program promotes cross-fertilization between art and technology. Specifically, the program provides funding for a number of art and design projects with a significant technological component. Projects should be innovative, offer creative potential and explicitly encourage interaction between artists, designers and researchers. Five projects were launched in 2012 under the theme “Augmented Cities.”
</div>

</p>
<br><br><br><br>
<p>
    <img class="" src="{{ STATIC_URL }}img/other/viaa.png" style="float: left; position: relative; top: 70px" />
    
    <div style="width: 670px; height: 220px; float: right;">
        <b>VIAA</b><br>
<b>Digitizing and preserving our heritage</b><br>
iMinds has conducted several research projects in the past dealing directly with the digital preservation of our cultural heritage. The Flemish government made funds available in 2012 for the creation of VIAA—the Flemish Institute for Digital Archiving. The institute will combine the various initiatives in this field and aims to create economies of scale. Responsibility for the start-up of the initiative was assigned to iMinds. VIAA not only focuses on traditional media companies such as broadcasters, but also on cultural organizations or businesses and governments that want to digitize their archives.
</div>
</p>

<br><br><br><br>
<p>
    <img class="" src="{{ STATIC_URL }}img/other/mediawijs.png" style="float: left; position: relative; top: 120px" />
    <div style="width: 670px; float: right;">
        <b>MEDIAWIJS.BE</b><br>
<b>Increasing awareness of media</b><nr>
In 2012, the Flemish government assigned the task of establishing a Media Literacy knowledge center to iMinds. The aim is to increase awareness of (new) media and provide consumers with insight into their operation. Special attention is given to specific target groups such as children, the elderly and the poor. Major topics include privacy, security, advertising, games and the digital divide.
</div>
</p>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>