
<div class="md-modal md-effect-1" id="highlight-may">
    <div class="md-content">

        <button class="md-close">X</button>

        <div class="container">
            <div class="wrapper">
                <div class="jp-container">
               
            
                            <aside class="milestone">
                            <img class="milestone" src="{{ STATIC_URL }}img/highlight.png" />
                            <div class="m-line"></div>
                            </aside>

                            <div class="o-content">
                                <header>
                                    <h1>ICON facts & figures</h1>
                                </header>
                                
                                <p>2012 was a successful year for ICON. There were 14 new projects approved for a total budget of 27.77 million euros. In addition, there were six projects approved in the newly launched MiX-ICON call - which summed alone a total budget of 6.67 million euros.</p><br><br>

                                <img width="80%" height="80%" style="position: relative; left: 10%" src="{{ STATIC_URL }}img/other/facts-01-hl-may.jpg" />

                                <p style="margin-left: 34%"><b>Number of projects and budget ICON 2005 - 2012</b></p>
                                <img style="position: relative; left: 17%; top: -40px;" src="{{ STATIC_URL }}img/other/facts-02-hl-may.jpg" />

                            </div>


                </div>
            </div>
        </div>

    </div>
</div>