.ss-container {
    width: 100%;
	overflow: hidden;
}
    .ss-row{
        border:;
        width: 100%;
        position: relative;
        height: 20em;
    }
        .ss-left,
        .ss-right {
            width: 50%;
            position: relative;
            float: left;
        }
        .ss-left {
            float: left;
        }